<!--OBJECT | HEADER-->
<header>
    <div>
        <a href="/">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/img_logo.png" alt="logo">
        </a>

        <!--OBJECT | NAV-->
        <nav>
            {% include 'header/common/_brand.html.twig' with {'active': false} %}
            <!--search | visible on mobile/tablet && !homepage-extralarge | TODO JF: à brancher-->
            {% include 'header/common/_search_screen.html.twig' with {'class': ''} %}

            <!--all | TODO JF: à brancher-->
            {% include 'header/common/_vivre.html.twig' %}

            <!--calendar-->
            <div class="calendar">

                <!-- TODO : à brancher -->
                <a href="/administration/contacter-la-commune/">
                    <i class="icon_nav i-clock"></i>
                    <span>Horaires-Contacts</span>
                </a>
            </div>

            <!--more | TODO JF: à brancher-->
            <div class="more">
                <input type="checkbox" id="more" name="more"/>
                <a href="#" for="more">
                    <i class="icon_nav i-plus"></i>
                </a>

                <div class="bubble">
                    <i class="graphicElement"></i>
                    <div>
                        <a href="https://marche.guichet-citoyen.be/">E-Guichet</a>
                        <a href="/actualites">Actualités</a>
                        <a href="/tourisme/agenda-des-manifestations">Agenda</a>
                    </div>
                    <i class="graphicElement"></i>
                </div>
            </div>

            <!--visible from extralarge-->
            <!--e-ticket-->
            <div class="eticket">

                <!-- TODO : à brancher -->
                <a href="https://marche.guichet-citoyen.be/">
                    <span>E-Guichet</span>
                </a>
            </div>
            <!--news-->
            <div class="news">
                <a href="/actualites">
                    <span>Actualités</span>
                </a>
            </div>
            <!--agenda-->
            <div class="agenda">
                <a href="/tourisme/agenda-des-manifestations">
                    <span>Agenda</span>
                </a>
            </div>
        </nav>

        <!-- social networks -->
        <div>

            <!-- TODO : à brancher -->
            <a href="https://www.facebook.com/VilledeMarcheenFamenne">
                <i class="fab fa-facebook-f"></i>
            </a>

            <!-- TODO : à brancher -->
            <a href="https://twitter.com/VilledeMarche">
                <i class="fab fa-twitter"></i>
            </a>

            <!-- TODO : à brancher -->
            <a href="https://www.instagram.com/villedemarche/">
                <i class="fab fa-instagram"></i>
            </a>

            <!-- TODO : à brancher -->
            <a href="https://www.youtube.com/user/VilledeMarche">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
</header>
