<!--OBJECT | HEADER-->
<!--OBJECT | HEADER-->
<header>
    <div>
        <a href="#">
            <img src="rsc/img/img_logo.png" alt="logo">
        </a>

        <!--OBJECT | NAV-->
        <nav>

            <!--home-->
            <div class="home active">
                <a href="#">
                    <i class="icon_nav i-home"></i>
                </a>
            </div>
            <!--search | visible on mobile/tablet && !homepage-extralarge-->
            <div class="search d-xl-none">
                <a href="#">
                    <i class="icon_nav i-search"></i>
                    <i class="icon_nav i-search i-white position-absolute d-none d-xl-block"></i>
                </a>

                <div class="searchScreen">
                    <i class="graphicElement"></i>

                    <ul>
                        <li class="col-ls-12">
                            <form class="h-32px">
                                <input type="search" placeholder="Que cherchez-vous ?" class="border-0 rounded-pill h-32px pl-16px pr-48px fs-short-3">
                                <button class="position-absolute top-0 bottom-0 right-0 w-32px h-32px d-flex justify-content-center align-items-center p-0 border-0 rounded-right-pill bg-transparent icon_custom">
                                    <!--<i class="fa fa-search text-dark-primary"></i>-->
                                    <i class="i-search i-dark-primary w-16px h-16px"></i>
                                </button>
                            </form>
                            <!--TODO JF: branchement-->
                            <a href="#" class="icon_custom">
                                <i class="i-times"></i>
                            </a>
                        </li>
                        <li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12"><a href="pool.html" class="icon_custom"><i class="i-swimmer"></i>Piscine</a></li>
                        <li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12"><a href="#" class="icon_custom"><i class="i-leaf"></i>Environnment-Déchet</a></li>
                        <li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12"><a href="#" class="icon_custom"><i class="i-traffic-cone"></i>Travaux</a></li>
                        <li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12"><a href="#" class="icon_custom"><i class="i-beach-ball"></i>Jeunesse-Stages</a></li>
                        <li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12"><a href="map.html" class="icon_custom"><i class="i-map"></i>Cartes dynamiques</a></li>
                        <li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12"><a href="#" class="icon_custom"><i class="i-handshake"></i>CPAS</a></li>
                        <li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12"><a href="#" class="icon_custom"><i class="i-envelope"></i>Mon adresse e-mail</a></li>
                    </ul>

                    <i class="graphicElement"></i>
                </div>
            </div>
            <!--all | TODO JF : tu peux utiliser la class .toggle-opened pour le toggleClass-->
            <div class="all d-ls-flex align-items-ls-center justify-content-ls-center toggle-opened">
                <a href="#" class="icon_custom position-relative">
                    <i class="icon_nav i-bars"></i>
                    <i class="i-bars i-dark-primary"></i>
                    <span>Vivre à Marche</span>
                    <!--<input type="radio" name="subnav" value="1" class="w-100 h-100">-->
                </a>

                <!--subnav-->
                <div class="subnav">
                    <ul>
                        <li class="d-flex flex-row align-items-center p-24px d-xl-none col-ls-12">
                            <h3 class="flex-grow-1 text-white text-left">Vivre à Marche</h3>
                            <a href="#" class="position-relative w-24px h-24px d-flex justify-content-center align-items-center p-0 icon_custom">
                                <i class="i-times i-white"></i>
                                <!--<input type="radio" name="subnav" value="0" class="w-100 h-100">-->
                            </a>
                        </li>

                        <!--administration | TODO JF : tu peux utiliser la class .toggle-opened pour le toggleClass-->
                        <li class="c-adm col-xl-5 mt-xl-12px col-ls-6 col-ls-xl-5 toggle-opened">
                            <a href="#" class="icon_custom">Administration<i class="i-angle-right i-white bg-size-50"></i></a>

                            <div class="col-xl-7">
                                <div class="p-24px d-xl-none col-ls-12">
                                    <h3 class="text-left">Administration</h3>
                                    <span class="d-flex flex-row align-items-center pt-8px">
                                           <a href="#" class="d-flex flex-grow-1 align-items-center fs-short-2 text-dark-primary icon_custom"><i class="i-angle-left bg-size-40 bg-position-left"></i>Retour sur Vivre à Marche</a>
                                           <a href="#" class="position-relative w-24px h-24px d-flex justify-content-center align-items-center icon_custom">
                                               <i class="i-times"></i>
                                           </a>
                                       </span>
                                </div>
                                <ul class="col-ls-6">
                                    <li><a href="#">Accueil administration</a></li>
                                    <li><a href="#">Blason-Logos de la ville</a></li>
                                    <li><a href="#">Horaires-Contact</a></li>
                                    <li><a href="#">Collège communal</a></li>
                                    <li><a href="#">Conseil communal</a></li>
                                    <li><a href="#">Services communaux</a></li>
                                    <li><a href="#">Autres services administratifs</a></li>
                                    <li><a href="#">Taxes communales</a></li>
                                    <li><a href="#">Publications communales</a></li>
                                </ul>
                                <ul class="col-ls-6">
                                    <li><a href="#">Permanences institutions</a></li>
                                    <li><a href="#">Procédures-Documents administratifs</a></li>
                                    <li><a href="#">Subventions-Primes communales</a></li>
                                    <li><a href="#">Enquêtes publiques</a></li>
                                    <li><a href="#" alt="Programme stratégique transversal">PST</a></li>
                                </ul>
                            </div>
                        </li>

                        <!--citoyen | TODO JF : tu peux utiliser la class .toggle-opened pour le toggleClass-->
                        <li class="c-cit col-xl-5 col-ls-6 col-ls-xl-5">
                            <a href="category.html" class="icon_custom">Citoyen<i class="i-angle-right i-white bg-size-50"></i></a>

                            <div class="col-xl-7">
                                <div class="p-24px d-xl-none col-ls-12">
                                    <h3 class="text-left">Citoyen</h3>
                                    <span class="d-flex flex-row align-items-center pt-8px">
                                           <a href="#" class="d-flex flex-grow-1 align-items-center fs-short-2 text-dark-primary icon_custom"><i class="i-angle-left bg-size-40 bg-position-left"></i>Retour sur Vivre à Marche</a>
                                           <a href="#" class="position-relative w-24px h-24px d-flex justify-content-center align-items-center icon_custom">
                                               <i class="i-times"></i>
                                           </a>
                                       </span>
                                </div>
                                <ul class="col-ls-6">
                                    <li><a href="category.html">Accueil citoyen</a></li>
                                    <li><a href="#">Cultes</a></li>
                                    <li><a href="#">Conseils-Commissions</a></li>
                                    <li><a href="#">Emploi-Formation</a></li>
                                    <li><a href="#">Enfance-Jeunesse</a></li>
                                    <li><a href="#">Enseignement</a></li>
                                    <li><a href="#">Environnement</a></li>
                                    <li><a href="#">Famille</a></li>
                                    <li><a href="#">Info travaux</a></li>
                                </ul>
                                <ul class="col-ls-6">
                                    <li><a href="#">Justice</a></li>
                                    <li><a href="#">Logement</a></li>
                                    <li><a href="#">Participation citoyenne</a></li>
                                    <li><a href="#">Petit patrimoine</a></li>
                                    <li><a href="#">Mobilité</a></li>
                                    <li><a href="#">Sécurité</a></li>
                                </ul>
                            </div>
                        </li>

                        <!--culture | TODO JF : tu peux utiliser la class .toggle-opened pour le toggleClass-->
                        <li class="c-cul col-xl-5 col-ls-6 col-ls-xl-5">
                            <a href="#" class="icon_custom">Culture<i class="i-angle-right i-white bg-size-50"></i></a>

                            <div class="col-xl-7">
                                <div class="p-24px d-xl-none col-ls-12">
                                    <h3 class="text-left">Culture</h3>
                                    <span class="d-flex flex-row align-items-center pt-8px">
                                           <a href="#" class="d-flex flex-grow-1 align-items-center fs-short-2 text-dark-primary icon_custom"><i class="i-angle-left bg-size-40 bg-position-left"></i>Retour sur Vivre à Marche</a>
                                           <a href="#" class="position-relative w-24px h-24px d-flex justify-content-center align-items-center icon_custom">
                                               <i class="i-times"></i>
                                           </a>
                                       </span>
                                </div>
                                <ul class="col-ls-6">
                                    <li><a href="#">Accueil culture</a></li>
                                    <li><a href="#">Art-Culture</a></li>
                                    <li><a href="#">2ème roman</a></li>
                                    <li><a href="#">Activités créatives</a></li>
                                    <li><a href="#">Bibliothèque-Ludothèque</a></li>
                                    <li><a href="#">Cercles thèmatiques</a></li>
                                    <li><a href="#">Comités festifs</a></li>
                                    <li><a href="#">Enseignement artistique</a></li>
                                    <li><a href="#">Musées</a></li>
                                </ul>
                                <ul class="col-ls-6">
                                    <li><a href="#">Musique</a></li>
                                </ul>
                            </div>
                        </li>

                        <!--economie | TODO JF : tu peux utiliser la class .toggle-opened pour le toggleClass-->
                        <li class="c-eco col-xl-5 col-ls-6 col-ls-xl-5">
                            <a href="#" class="icon_custom">Économie<i class="i-angle-right i-white bg-size-50"></i></a>

                            <div class="col-xl-7">
                                <div class="p-24px d-xl-none col-ls-12">
                                    <h3 class="text-left">Économie</h3>
                                    <span class="d-flex flex-row align-items-center pt-8px">
                                           <a href="#" class="d-flex flex-grow-1 align-items-center fs-short-2 text-dark-primary icon_custom"><i class="i-angle-left bg-size-40 bg-position-left"></i>Retour sur Vivre à Marche</a>
                                           <a href="#" class="position-relative w-24px h-24px d-flex justify-content-center align-items-center icon_custom">
                                               <i class="i-times"></i>
                                           </a>
                                       </span>
                                </div>
                                <ul class="col-ls-6">
                                    <li><a href="#">Accueil économie</a></li>
                                    <li><a href="#">Économie marchoise</a></li>
                                    <li><a href="#">Créer une entreprise</a></li>
                                    <li><a href="#">Ouvrir un commerce</a></li>
                                    <li><a href="#">Pays de Famenne</a></li>
                                    <li><a href="#">Wex</a></li>
                                    <li><a href="#">Commerces-Entreprises</a></li>
                                    <li><a href="#">e-Square</a></li>
                                </ul>
                            </div>
                        </li>

                        <!--enfance/jeunesse | TODO JF : tu peux utiliser la class .toggle-opened pour le toggleClass-->
                        <li class="c-enf col-xl-5 col-ls-6 col-ls-xl-5">
                            <a href="#" class="icon_custom">Enfance-Jeunesse<i class="i-angle-right i-white bg-size-50"></i></a>

                            <div class="col-xl-7">
                                <div class="p-24px d-xl-none col-ls-12">
                                    <h3 class="text-left">Enfance-Jeunesse</h3>
                                    <span class="d-flex flex-row align-items-center pt-8px">
                                           <a href="#" class="d-flex flex-grow-1 align-items-center fs-short-2 text-dark-primary icon_custom"><i class="i-angle-left bg-size-40 bg-position-left"></i>Retour sur Vivre à Marche</a>
                                           <a href="#" class="position-relative w-24px h-24px d-flex justify-content-center align-items-center icon_custom">
                                               <i class="i-times"></i>
                                           </a>
                                       </span>
                                </div>
                                <ul class="col-ls-6">
                                    <li><a href="#">Accueil enfance-jeunesse</a></li>
                                    <li><a href="#">0-3 ans</a></li>
                                    <li><a href="#">3-12 ans</a></li>
                                    <li><a href="#">12-18 ans</a></li>
                                    <li><a href="#">Plus de 18 ans</a></li>
                                    <li><a href="http://stages.marche.be/" target="_blank">Stages<i class="fas fa-external-link-alt"></i></a></li>
                                    <li><a href="#">Conseil communal des enfants</a></li>
                                    <li><a href="http://www.rescolm.be/" target="_blank">Repas scolaire<i class="fas fa-external-link-alt"></i></a></li>
                                    <li><a href="#">Enseignement</a></li>
                                </ul>
                            </div>
                        </li>

                        <!--sante | TODO JF : tu peux utiliser la class .toggle-opened pour le toggleClass-->
                        <li class="c-san col-xl-5 col-ls-6 col-ls-xl-5">
                            <a href="#" class="icon_custom">Santé<i class="i-angle-right i-white bg-size-50"></i></a>

                            <div class="col-xl-7">
                                <div class="p-24px d-xl-none col-ls-12">
                                    <h3 class="text-left">Santé</h3>
                                    <span class="d-flex flex-row align-items-center pt-8px">
                                           <a href="#" class="d-flex flex-grow-1 align-items-center fs-short-2 text-dark-primary icon_custom"><i class="i-angle-left bg-size-40 bg-position-left"></i>Retour sur Vivre à Marche</a>
                                           <a href="#" class="position-relative w-24px h-24px d-flex justify-content-center align-items-center icon_custom">
                                               <i class="i-times"></i>
                                           </a>
                                       </span>
                                </div>
                                <ul class="col-ls-6">
                                    <li><a href="#">Accueil santé</a></li>
                                    <li><a href="#">Cellule communale santé & Viasano</a></li>
                                    <li><a href="#">Centre médicaux - Services</a></li>
                                    <li><a href="#">Collecte de sang</a></li>
                                    <li><a href="#">Consultations ONE</a></li>
                                    <li><a href="#">Hôpitaux</a></li>
                                    <li><a href="#">Médecins généralistes</a></li>
                                    <li><a href="#">Médecins spécialistes</a></li>
                                    <li><a href="#">Mutuelles</a></li>
                                </ul>
                                <ul class="col-ls-6">
                                    <li><a href="#">Numéros de secours</a></li>
                                    <li><a href="#">Pharmacies</a></li>
                                    <li><a href="#">Poste médical - médecin de garde</a></li>
                                    <li><a href="#">Professionnels de la santé</a></li>
                                </ul>
                            </div>
                        </li>

                        <!--social | TODO JF : tu peux utiliser la class .toggle-opened pour le toggleClass-->
                        <li class="c-soc col-xl-5 col-ls-6 col-ls-xl-5">
                            <a href="#" class="icon_custom">Social<i class="i-angle-right i-white bg-size-50"></i></a>

                            <div class="col-xl-7">
                                <div class="p-24px d-xl-none col-ls-12">
                                    <h3 class="text-left">Social</h3>
                                    <span class="d-flex flex-row align-items-center pt-8px">
                                           <a href="#" class="d-flex flex-grow-1 align-items-center fs-short-2 text-dark-primary icon_custom"><i class="i-angle-left bg-size-40 bg-position-left"></i>Retour sur Vivre à Marche</a>
                                           <a href="#" class="position-relative w-24px h-24px d-flex justify-content-center align-items-center icon_custom">
                                               <i class="i-times"></i>
                                           </a>
                                       </span>
                                </div>
                                <ul class="col-ls-6">
                                    <li><a href="#">Accueil social</a></li>
                                    <li><a href="#">Aide aux personnes</a></li>
                                    <li><a href="#">Associations</a></li>
                                    <li><a href="#">CPAS</a></li>
                                    <li><a href="#">Conseil de l'action sociale</a></li>
                                    <li><a href="#">Économie sociale</a></li>
                                    <li><a href="#">Info service</a></li>
                                    <li><a href="#">Seconde main</a></li>
                                    <li><a href="#" alt="Plan de cohésion sociale">PCS</a></li>
                                </ul>
                                <ul class="col-ls-6">
                                    <li><a href="#">Résidence-service Joseph Marthoz</a></li>
                                    <li><a href="#">Logement</a></li>
                                    <li><a href="#">Services sociaux</a></li>
                                    <li><a href="#">Solidarité-Volontariat</a></li>
                                </ul>
                            </div>
                        </li>

                        <!--sport | TODO JF : tu peux utiliser la class .toggle-opened pour le toggleClass-->
                        <li class="c-spo col-xl-5 col-ls-6 col-ls-xl-5">
                            <a href="#" class="icon_custom">Sport<i class="i-angle-right i-white bg-size-50"></i></a>

                            <div class="col-xl-7">
                                <div class="p-24px d-xl-none col-ls-12">
                                    <h3 class="text-left">Sport</h3>
                                    <span class="d-flex flex-row align-items-center pt-8px">
                                           <a href="#" class="d-flex flex-grow-1 align-items-center fs-short-2 text-dark-primary icon_custom"><i class="i-angle-left bg-size-40 bg-position-left"></i>Retour sur Vivre à Marche</a>
                                           <a href="#" class="position-relative w-24px h-24px d-flex justify-content-center align-items-center icon_custom">
                                               <i class="i-times"></i>
                                           </a>
                                       </span>
                                </div>
                                <ul class="col-ls-6">
                                    <li><a href="#">Accueil sport</a></li>
                                    <li><a href="#">Actu-Santé</a></li>
                                    <li><a href="#">Challenges-Mérites sportifs</a></li>
                                    <li><a href="#">Clubs-Compétitions</a></li>
                                    <li><a href="#">Cours-Animations</a></li>
                                    <li><a href="#">Clubs sports & loisirs</a></li>
                                    <li><a href="#">Location salles & terrains multisports</a></li>
                                    <li><a href="#">Missions des services</a></li>
                                    <li><a href="pool.html">Piscine communale</a></li>
                                </ul>
                                <ul class="col-ls-6">
                                    <li><a href="#">Sport en Marche</a></li>
                                    <li><a href="#">Sports loisirs</a></li>
                                    <li><a href="#">Stages</a></li>
                                    <li><a href="#">Subventions-Subsides</a></li>
                                </ul>
                            </div>
                        </li>

                        <!--tourisme | TODO JF : tu peux utiliser la class .toggle-opened pour le toggleClass-->
                        <li class="c-tou col-xl-5 mb-xl-12px col-ls-6 col-ls-xl-5">
                            <a href="#" class="icon_custom">Tourisme<i class="i-angle-right i-white bg-size-50"></i></a>

                            <div class="col-xl-7">
                                <div class="p-24px d-xl-none col-ls-12">
                                    <h3 class="text-left">Tourisme</h3>
                                    <span class="d-flex flex-row align-items-center pt-8px">
                                           <a href="#" class="d-flex flex-grow-1 align-items-center fs-short-2 text-dark-primary icon_custom"><i class="i-angle-left bg-size-40 bg-position-left"></i>Retour sur Vivre à Marche</a>
                                           <a href="#" class="position-relative w-24px h-24px d-flex justify-content-center align-items-center icon_custom">
                                               <i class="i-times"></i>
                                           </a>
                                       </span>
                                </div>
                                <ul class="col-ls-6">
                                    <li><a href="#">Manifestations</a></li>
                                    <li><a href="#">Accueil tourisme</a></li>
                                    <li><a href="#">Aires de jeux</a></li>
                                    <li><a href="#">Plans</a></li>
                                    <li><a href="#">Logements</a></li>
                                    <li><a href="#">Horeca</a></li>
                                    <li><a href="#">Statues-Sculptures</a></li>
                                    <li><a href="#">Marche en livres</a></li>
                                    <li><a href="#">Marchés locaux</a></li>
                                </ul>
                                <ul class="col-ls-6">
                                    <li><a href="#">Médiathèque</a></li>
                                    <li><a href="#">Mouvements de jeunesse</a></li>
                                    <li><a href="#">Musées</a></li>
                                    <li><a href="#">Noël à Marche</a></li>
                                    <li><a href="#">Wifi public</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--calendar-->
            <div class="calendar">
                <a href="#">
                    <i class="icon_nav i-clock"></i>
                    <span>Horaires-Contacts</span>
                </a>
            </div>
            <!--more-->
            <div class="more">
                <input type="checkbox" id="more" name="more"/>
                <a href="#" for="more">
                    <i class="icon_nav i-plus"></i>
                </a>

                <div class="bubble">
                    <i class="graphicElement"></i>
                    <div>
                        <a href="#">E-Guichet</a>
                        <a href="news.html">Actualités</a>
                        <a href="events.html">Agenda</a>
                    </div>
                    <i class="graphicElement"></i>
                </div>
            </div>

            <!--visible from extralarge-->
            <!--e-ticket-->
            <div class="eticket">
                <a href="#">
                    <span>E-Guichet</span>
                </a>
            </div>
            <!--news-->
            <div class="news">
                <a href="news.html">
                    <span>Actualités</span>
                </a>
            </div>
            <!--agenda-->
            <div class="agenda">
                <a href="events.html">
                    <span>Agenda</span>
                </a>
            </div>
        </nav>

        <div>
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
</header>

