<!--OBJECT | HEADER-->
<header>
    <div>
        <a href="/">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/img_logo.png" alt="logo">
        </a>

        <!--OBJECT | NAV-->
        <nav>

            <!--home-->
            <div class="home active">
                <a href="#">
                    <i class="icon_nav i-home"></i>
                </a>
            </div>
            <!--search | visible on mobile/tablet && !homepage-extralarge-->
            <div class="search d-xl-none">
                <a href="#">
                    <i class="icon_nav i-search"></i>
                    <i class="icon_nav i-search i-white position-absolute d-none d-xl-block"></i>
                </a>

                {% include 'header/home/_search_screen.html.twig' %}
            </div>
            <!--all-->
            {% include 'header/common/_menu_vivre.html.twig' %}

            {% include 'header/common/_menu_right.html.twig' %}
        </nav>

        <!-- social networks -->
        {% include 'header/common/_social_networks.html.twig' %}

    </div>
</header>
