<!--OBJECT | HEADER-->
<header>
    <div>
        <a href="/">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/img_logo.png" alt="logo">
        </a>
        <!--OBJECT | NAV-->
        <nav>
            <!--home-->
            {% include 'header/common/_brand.html.twig' with {'active': true} %}
            <!--search | visible on mobile/tablet && !homepage-extralarge -->
            {% include 'header/home/_search_screen.html.twig' with {'class': 'd-xl-none'} %}
            <!--all-->
            <div class="all d-ls-flex align-items-ls-center justify-content-ls-center">
                <a href="#" class="icon_custom position-relative">
                    <i class="icon_nav i-bars"></i>
                    <i class="i-bars i-dark-primary"></i>
                    <span>Vivre à Marche</span>
                    <!--<input type="radio" name="subnav" value="1" class="w-100 h-100">-->
                </a>

                <!--subnav-->
                {% include 'header/home/_subnav.html.twig' %}
            </div>
            <!--calendar-->
            {% include 'header/home/_menu_right.html.twig' %}
        </nav>

        <!-- social networks -->
        {% include 'header/common/_social_networks.html.twig' %}
    </div>
</header>
