<!--CONTENT-->
<section id="content"
         class="pt-42px pl-ls-42px overflow-ls-hidden overflow-md-hidden pl-ls-lg-0 pt-xl-66px mw-1440px mx-xl-auto w-100">

    <!--POOL-->
    <div class="bg-white pt-24px px-24px position-relative d-md-flex px-xl-48px mx-xl-n30px justify-content-md-center flex-column">

        <!--back | TODO JF: lien dynamique vers la page précédente-->
        <a href="/"
           class="button lvl3 align-self-ls-md-start align-self-md-start position-relative right-0 right-hover-12px fs-short-2"><i
                    class="fas fa-angle-left pr-8px d-ls-md-inline pr-md-12px fs-short-2 d-md-inline"></i>Retour à
            l'accueil</a>

        <!--title-->
        <h2 class="text-ls-md-left pt-ls-md-8px text-md-left pt-md-8px">Piscine communale</h2>

        <!--banner-->
        <div class="d-flex align-items-center justify-content-center flex-column mt-48px mx-n24px mx-lg-n48px bg-lighter p-24px py-lg-36px px-lg-48px mx-xxl-0">
            <span class="text-dark-primary fs-short-1 fs-lg-basic lh-150 text-center ">Le bonnet est obligatoire et le short est interdit.</span>
            <span class="py-14px py-lg-24px text-dark-primary fs-short-1 fs-lg-basic lh-150 text-center">La sortie de l'eau est prévue 20 minutes avant la fin.</span>
            <span class="text-dark-primary fs-short-1 fs-lg-basic lh-150 text-center">Les enfants de -8 ans doivent obligatoirement êtres accompagnés d'un adulte (18 ans et +).</span>
        </div>

        <!--schedules-->
        <div class="pt-48px object-headtail">

            <!--head-->
            <input type="radio" value="head" name="period" checked>
            <a href="#" class="fs-md-short-1"><span class="d-md-none ff-semibold fs-short-2">Périodes</span><span
                        class="d-none d-md-inline ff-semibold fs-short-1">Horaires périodes</span> scolaires</a>
            <!--tail-->
            <input type="radio" value="tail" name="period">
            <a href="#" class="fs-md-short-1"><span class="d-md-none ff-semibold fs-short-2">Congés</span><span
                        class="d-none d-md-inline ff-semibold fs-short-1">Horaires congés</span> scolaires</a>

            <!--head/tail-->
            <div>
                <ul class="mx-auto pt-38px px-18px">
                    <li class="d-inline-block py-10px px-6px">
                        <a href="#" class="fs-short-1 py-4px py-md-6px px-8px px-md-12px osc-c-1 text-white">Réservé aux
                            écoles ou clubs</a>
                    </li>
                    <li class="d-inline-block py-10px px-6px">
                        <a href="#" class="fs-short-1 py-4px py-md-6px px-8px px-md-12px osc-c-2 text-white">Public</a>
                    </li>
                    <li class="d-inline-block py-10px px-6px">
                        <a href="#" class="fs-short-1 py-4px py-md-6px px-8px px-md-12px osc-c-3 text-white">Public ou
                            clubs</a>
                    </li>
                    <li class="d-inline-block py-10px px-6px">
                        <a href="#"
                           class="fs-short-1 py-3px py-md-5px px-7px px-md-11px text-dark-primary border border-dark-primary">Militaires</a>
                    </li>
                    <li class="d-inline-block py-10px px-6px">
                        <a href="#"
                           class="fs-short-1 py-3px py-md-5px px-7px px-md-11px text-dark-primary border border-dark-primary">Je
                            nage pour ma forme</a>
                    </li>
                </ul>

                <table class="object-schedule">

                    <!--hours-->
                    <tr>
                        <th class="w-98px w-xl-160px h-48px border-top-0"></th>
                        <th class="col">7-8h</th>
                        <th class="col">8-9h</th>
                        <th class="col">9-10h</th>
                        <th class="col">10-11h</th>
                        <th class="col">11-12h</th>
                        <th class="col">12-13h</th>
                        <th class="col">13-14h</th>
                        <th class="col">14-15h</th>
                        <th class="col">15-16h</th>
                        <th class="col">16-17h</th>
                        <th class="col">17-18h</th>
                        <th class="col">18-19h</th>
                        <th class="col">19-20h</th>
                        <th class="col">20-21h</th>
                    </tr>

                    <!--monday-->
                    <tr>
                        <td class="w-98px w-xl-160px border-top-0">Lundi</td>

                        <!--7-8h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--8-9h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--9-10h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--10-11h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--11-12h-->
                        <td class="col">
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col border-0 osc-c-2 osc-c-b1"></i>
                        </td>
                        <!--12-13h-->
                        <td class="col">
                            <i class="col osc-c-2"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--13-14h-->
                        <td class="col">
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col border-0 osc-c-2 osc-c-b1"></i>
                        </td>
                        <!--14-15h-->
                        <td class="col">
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--15-16h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--16-17h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--17-18h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--18-19h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--19-20h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--20-21h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                    </tr>
                    <!--tuesday-->
                    <tr>
                        <td class="w-98px w-xl-160px border-top-0">Mardi</td>

                        <!--7-8h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--8-9h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0 osc-c-1"></i>
                        </td>
                        <!--9-10h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--10-11h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--11-12h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--12-13h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--13-14h-->
                        <td class="col">
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--14-15h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--15-16h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--16-17h-->
                        <td class="col">
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col border-0 osc-c-2 osc-c-b1"></i>
                        </td>
                        <!--17-18h-->
                        <td class="col">
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--18-19h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--19-20h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--20-21h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                    </tr>
                    <!--wednesday-->
                    <tr>
                        <td class="w-98px w-xl-160px border-top-0">Mercredi</td>

                        <!--7-8h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--8-9h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col osc-c-2"></i>
                            <i class="col border-0 osc-c-2"></i>
                        </td>
                        <!--9-10h-->
                        <td class="col">
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col border-0 osc-c-2 osc-c-b1"></i>
                        </td>
                        <!--10-11h-->
                        <td class="col">
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col border-0 osc-c-2 osc-c-b1"></i>
                        </td>
                        <!--11-12h-->
                        <td class="col">
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col border-0 osc-c-2 osc-c-b1"></i>
                        </td>
                        <!--12-13h-->
                        <td class="col">
                            <i class="col osc-c-2"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--13-14h-->
                        <td class="col">
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--14-15h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--15-16h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--16-17h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--17-18h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--18-19h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--19-20h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--20-21h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                    </tr>
                    <!--thursday-->
                    <tr>
                        <td class="w-98px w-xl-160px border-top-0">Jeudi</td>

                        <!--7-8h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--8-9h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col osc-c-1"></i>
                            <i class="col border-0 osc-c-1"></i>
                        </td>
                        <!--9-10h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col border-0 osc-c-b1"></i>
                        </td>
                        <!--10-11h-->
                        <td class="col">
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col border-0 osc-c-2 osc-c-b1"></i>
                        </td>
                        <!--11-12h-->
                        <td class="col">
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col border-0 osc-c-2 osc-c-b1"></i>
                        </td>
                        <!--12-13h-->
                        <td class="col">
                            <i class="col osc-c-2"></i>
                            <i class="col osc-c-2"></i>
                            <i class="col osc-c-2"></i>
                            <i class="col border-0 osc-c-2"></i>
                        </td>
                        <!--13-14h-->
                        <td class="col">
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col border-0 osc-c-b1"></i>
                        </td>
                        <!--14-15h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--15-16h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--16-17h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--17-18h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col border-0 osc-c-b1"></i>
                        </td>
                        <!--18-19h-->
                        <td class="col">
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col border-0 osc-c-b1"></i>
                        </td>
                        <!--19-20h-->
                        <td class="col">
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col border-0 osc-c-b1"></i>
                        </td>
                        <!--20-21h-->
                        <td class="col">
                            <i class="col osc-c-b1"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                    </tr>
                    <!--friday-->
                    <tr>
                        <td class="w-98px w-xl-160px border-top-0">Vendredi</td>

                        <!--7-8h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--8-9h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col osc-c-1"></i>
                            <i class="col border-0 osc-c-1"></i>
                        </td>
                        <!--9-10h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--10-11h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--11-12h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--12-13h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--13-14h-->
                        <td class="col">
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col border-0 osc-c-2 osc-c-b1"></i>
                        </td>
                        <!--14-15h-->
                        <td class="col">
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col border-0 osc-c-2 osc-c-b1"></i>
                        </td>
                        <!--15-16h-->
                        <td class="col">
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col border-0 osc-c-2 osc-c-b1"></i>
                        </td>
                        <!--16-17h-->
                        <td class="col">
                            <i class="col osc-c-2 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--17-18h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--18-19h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--19-20h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--20-21h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                    </tr>
                    <!--saturday-->
                    <tr>
                        <td class="w-98px w-xl-160px border-top-0">Samedi</td>

                        <!--7-8h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--8-9h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col border-0 osc-c-3"></i>
                        </td>
                        <!--9-10h-->
                        <td class="col">
                            <i class="col osc-c-3"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col border-0 osc-c-3"></i>
                        </td>
                        <!--10-11h-->
                        <td class="col">
                            <i class="col osc-c-3"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col border-0 osc-c-1"></i>
                        </td>
                        <!--11-12h-->
                        <td class="col">
                            <i class="col osc-c-1"></i>
                            <i class="col osc-c-1"></i>
                            <i class="col osc-c-1"></i>
                            <i class="col border-0 osc-c-1"></i>
                        </td>
                        <!--12-13h-->
                        <td class="col">
                            <i class="col osc-c-1"></i>
                            <i class="col osc-c-1"></i>
                            <i class="col osc-c-1"></i>
                            <i class="col border-0 osc-c-1"></i>
                        </td>
                        <!--13-14h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col border-0 osc-c-1 osc-c-b1"></i>
                        </td>
                        <!--14-15h-->
                        <td class="col">
                            <i class="col osc-c-1 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--15-16h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--16-17h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col border-0 osc-c-b1"></i>
                        </td>
                        <!--17-18h-->
                        <td class="col">
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col border-0 osc-c-b1"></i>
                        </td>
                        <!--18-19h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--19-20h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--20-21h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                    </tr>
                    <!--sunday-->
                    <tr>
                        <td class="w-98px w-xl-160px border-top-0 border-bottom-0">Dimanche</td>

                        <!--7-8h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--8-9h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col border-0 osc-c-3"></i>
                        </td>
                        <!--9-10h-->
                        <td class="col">
                            <i class="col osc-c-3"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col border-0 osc-c-3"></i>
                        </td>
                        <!--10-11h-->
                        <td class="col">
                            <i class="col osc-c-3"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col border-0 osc-c-3"></i>
                        </td>
                        <!--11-12h-->
                        <td class="col">
                            <i class="col osc-c-3"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col border-0 osc-c-3"></i>
                        </td>
                        <!--12-13h-->
                        <td class="col">
                            <i class="col osc-c-3"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col border-0 osc-c-3"></i>
                        </td>
                        <!--13-14h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-b1"></i>
                        </td>
                        <!--14-15h-->
                        <td class="col">
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col osc-c-b1"></i>
                            <i class="col border-0 osc-c-b1"></i>
                        </td>
                        <!--15-16h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--16-17h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--17-18h-->
                        <td class="col">
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col osc-c-3 osc-c-b1"></i>
                            <i class="col border-0 osc-c-3 osc-c-b1"></i>
                        </td>
                        <!--18-19h-->
                        <td class="col">
                            <i class="col osc-c-3"></i>
                            <i class="col osc-c-3"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--19-20h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                        <!--20-21h-->
                        <td class="col">
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col"></i>
                            <i class="col border-0"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!--pricing-->
        <div class="shadow-sm-1 mt-48px p-24px">
            <h4 class="text-dark-primary ff-semibold fs-short-1">Tarifs</h4>

            <ul class="d-flex flex-wrap mx-n11px pt-10px">
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 order-md-1">Adultes <small
                            class="fs-short-3">(+12 ans)</small> : <span class="fs-short-1">3,50 €</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 order-1">Demandeur d'emploi : <span
                            class="fs-short-1">2,90 €</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 order-md-1">Adultes <small
                            class="fs-short-3">(Fam. Nbre.)</small> : <span class="fs-short-1">2,90 €</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 order-1">Groupe occasionnel <small
                            class="fs-short-3">(min. 7 Pers. + 1 responsables)</small> : <span
                            class="fs-short-1">2,70 €</span>/Pers.
                </li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 order-md-1">Étudiants : <span
                            class="fs-short-1">2,90 €</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 order-1">Abonnement adultes 12 bains
                    <small class="fs-short-3">(valable 2 ans)</small> : <span class="fs-short-1">33,75 €</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 order-md-1">Enfants <small
                            class="fs-short-3">(-12 ans)</small> : <span class="fs-short-1">2,90 €</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 order-1">Abonnement enfants 12 bains
                    <small class="fs-short-3">(valable 2 ans)</small> : <span class="fs-short-1">22,70 €</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 order-md-1">Enfants <small
                            class="fs-short-3">(Fam. Nbre. ou porteur d'un handicap)</small> : <span class="fs-short-1">2,30 €</span>
                </li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 order-1">Abonnement 6 mois : <span
                            class="fs-short-1">82,50 €</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 order-md-1">Enfants <small
                            class="fs-short-3">(-2 ans)</small> : <span class="fs-short-1">1,20 €</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 order-1">Bains-Bulles : <span
                            class="fs-short-1">2,30 €</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 order-md-1">Pensionnés : <span
                            class="fs-short-1">2,90 €</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 order-1">Week-end Famille <small
                            class="fs-short-3">(4 Pers. : 2 adultes + 2 enfants(-12 ans))</small> : <span
                            class="fs-short-1">6,40 €</span> <small class="fs-short-3">(uniquement de 14h00 à
                        17h15)</small></li>
            </ul>
        </div>

        <!--closes-->
        <div class="mt-48px">
            <h4 class="text-dark-primary ff-semibold fs-short-1">Fermetures</h4>

            <ul class="d-flex flex-wrap mx-n11px pt-8px pt-lg-0">
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 col-lg-4 order-md-1">Nouvel An : <span
                            class="fs-short-1">mercredi 1er janvier 2020</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 col-lg-4 order-1 order-md-9 order-lg-1">
                    Pentecôte : <span class="fs-short-1">lundi 1er juin 2020</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 col-lg-4 order-2 order-md-6 order-lg-1">
                    Armistice : <span class="fs-short-1">mercredi 11 novembre 2020</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 col-lg-4 order-md-3 order-lg-1">Pâques :
                    <span class="fs-short-1">dimanche 12 et lundi 13 avril 2020</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 col-lg-4 order-1 order-md-11 order-lg-1">
                    Fête Nationale : <span class="fs-short-1">mardi 21 juillet 2020</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 col-lg-4 order-2 order-md-8 order-lg-1">
                    Noël : <span class="fs-short-1">vendredi 25 décembre 2020</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 col-lg-4 order-md-5 order-lg-1">Fête du
                    travail : <span class="fs-short-1">vendredi 1er mai 2020</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 col-lg-4 order-1 order-md-2 order-lg-1">
                    Assomption : <span class="fs-short-1">samedi 15 août 2020</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 col-lg-4 order-2 order-md-10 order-lg-1">
                    Nouvel An : <span class="fs-short-1">vendredi 1er janvier 2021</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 col-lg-4 order-md-7 order-lg-1">Ascension
                    : <span class="fs-short-1">jeudi 21 mai 2020</span></li>
                <li class="pt-8px fs-short-2 text-dark-primary col-12 col-md-6 col-lg-4 order-1 order-md-4 order-lg-1">
                    Toussaint : <span class="fs-short-1">dimanche 1er novembre 2020</span></li>
            </ul>
        </div>

        <!--informations-->
        <div class="mt-48px mx-n24px mx-lg-n48px pt-36px pb-36px pb-lg-66px px-24px px-lg-48px bg-lighter mx-xxl-0 p-xxl-24px mb-xxl-66px">
            <h4 class="text-dark-primary ff-semibold fs-short-1">Informations</h4>

            <ul class="pt-8px pt-lg-0">
                <li class="pt-8px fs-short-2 text-dark-primary">Centre Sportif Local</li>
                <li class="pt-8px fs-short-2 text-dark-primary">Chaussée de l'Ourthe, 74 - 6900 Marche-en-Famenne</li>
                <li class="pt-8px fs-short-2 text-dark-primary">Téléphone : <a href="tel:+3284320090"
                                                                               class="text-dark-primary fs-short-2">084
                        32 00 90</a></li>
                <li class="pt-8px fs-short-2 text-dark-primary">Fax : 084 32 26 75</li>
                <li class="pt-8px fs-short-2 text-dark-primary">Adresse e-mail : <a href="mailto:csi@marche.be"
                                                                                    class="text-dark-primary fs-short-2">csi@marche.be</a>
                </li>
            </ul>
        </div>
    </div>
</section>
