<div class="px-0 col-md-8 d-md-flex flex-md-column px-md-15px col-ls-md-8 d-ls-md-flex flex-ls-md-column px-xl-30px mw-896px">
    <h2 class="text-ls-md-left pt-ls-md-8px text-md-left pt-md-8px">Actualités</h2>
    <ul class="pt-24px pt-ls-md-32px pt-md-32px d-ls-lg-flex flex-ls-lg-wrap mx-ls-lg-n4px d-lg-flex flex-lg-wrap mx-lg-n4px">

        <!--always visible-->
        <li class="px-0 w-md-100 col-ls-lg-4 px-ls-lg-4px col-lg-4 px-lg-4px">
            <a href="article.html"
               class="d-flex shadow-sm-1 border border-width-1px border-default flex-ls-lg-column flex-lg-column bg-img overflow-hidden">
                <i class="w-104px min-height-103px p-0 bg-img-news-1 w-ls-lg-100 w-lg-100 position-relative bg-img-size-hover-110 transition-all">
                    <b class="d-block position-absolute top-0 bottom-0 left-0 right-0 bg-img-bgcolor-primary-0 bg-img-bgcolor-hover-primary-55 bg-img-transition-bgcolor"></b>
                </i>
                <div class="col py-18px pl-28px pr-14px text-left lh-0 min-height-ls-lg-104px min-height-104px px-lg-8px">
                    <span class="lh-150 ff-semibold fs-short-3 color-cat-cit">Citoyen</span>
                    <h3 class="pt-8px lh-125 fs-short-2 text-dark-primary text-hover-primary transition-all">
                        Écoles de devoirs : un petit déjeuner avec les volontaires</h3>
                </div>
            </a>
        </li>
        <li class="pt-8px px-0 w-md-100 col-ls-lg-4 pt-ls-lg-0 px-ls-lg-4px col-lg-4 px-lg-4px pt-lg-0">
            <a href="#"
               class="d-flex shadow-sm-1 border border-width-1px border-default flex-ls-lg-column flex-lg-column bg-img overflow-hidden">
                <i class="w-104px min-height-103px p-0 bg-img-news-2 w-ls-lg-100 w-lg-100 position-relative bg-img-size-hover-110 transition-all">
                    <b class="d-block position-absolute top-0 bottom-0 left-0 right-0 bg-img-bgcolor-primary-0 bg-img-bgcolor-hover-primary-55 bg-img-transition-bgcolor"></b>
                </i>
                <div class="col py-18px pl-28px pr-14px text-left lh-0 min-height-ls-lg-104px min-height-104px px-lg-8px">
                    <span class="lh-150 ff-semibold fs-short-3 color-cat-san">Santé</span>
                    <h3 class="pt-8px lh-125 fs-short-2 text-dark-primary text-hover-primary transition-all">
                        Opération Arc-en-Ciel : 14 et 15 mars</h3>
                </div>
            </a>
        </li>
        <li class="pt-8px px-0 w-md-100 col-ls-lg-4 pt-ls-lg-0 px-ls-lg-4px col-lg-4 px-lg-4px pt-lg-0">
            <a href="#"
               class="d-flex shadow-sm-1 border border-width-1px border-default flex-ls-lg-column flex-lg-column bg-img overflow-hidden">
                <i class="w-104px min-height-103px p-0 bg-img-news-3 w-ls-lg-100 w-lg-100 position-relative bg-img-size-hover-110 transition-all">
                    <b class="d-block position-absolute top-0 bottom-0 left-0 right-0 bg-img-bgcolor-primary-0 bg-img-bgcolor-hover-primary-55 bg-img-transition-bgcolor"></b>
                </i>
                <div class="col py-18px pl-28px pr-14px text-left lh-0 min-height-ls-lg-104px min-height-104px px-lg-8px">
                    <span class="lh-150 ff-semibold fs-short-3 color-cat-eco">Économie</span>

                    <!--hide from landscape-->
                    <h3 class="pt-8px lh-125 fs-short-2 text-dark-primary d-ls-none d-md-none text-hover-primary transition-all">
                        La RSE : La responsabilité sociétale des entr...</h3>

                    <!--visible from landscape-->
                    <h3 class="d-none pt-8px lh-125 fs-short-2 text-dark-primary d-ls-block text-hover-primary transition-all">
                        La RSE : La responsabilité sociétale des entreprises</h3>
                </div>
            </a>
        </li>

        <!--visible from landscape&&large-->
        <li class="pt-8px col-ls-lg-4 px-ls-lg-4px d-none d-ls-lg-block d-lg-block col-lg-4 px-lg-4px">
            <a href="#"
               class="d-flex shadow-sm-1 border border-width-1px border-default flex-ls-lg-column flex-lg-column bg-img overflow-hidden">
                <i class="w-104px min-height-103px p-0 bg-img-news-4 w-ls-lg-100 w-lg-100 position-relative bg-img-size-hover-110 transition-all">
                    <b class="d-block position-absolute top-0 bottom-0 left-0 right-0 bg-img-bgcolor-primary-0 bg-img-bgcolor-hover-primary-55 bg-img-transition-bgcolor"></b>
                </i>
                <div class="col py-18px pl-28px pr-14px text-left lh-0 min-height-ls-lg-104px min-height-104px px-lg-8px">
                    <span class="lh-150 ff-semibold fs-short-3 color-cat-enf">Enfance-Jeunesse</span>
                    <h3 class="pt-8px lh-125 fs-short-2 text-dark-primary text-hover-primary transition-all">
                        Plaines d'été : (3-15 ans)</h3>
                </div>
            </a>
        </li>
        <li class="pt-8px col-ls-lg-4 px-ls-lg-4px d-none d-ls-lg-block d-lg-block col-lg-4 px-lg-4px">
            <a href="#"
               class="d-flex shadow-sm-1 border border-width-1px border-default flex-ls-lg-column flex-lg-column bg-img overflow-hidden">
                <i class="w-104px min-height-103px p-0 bg-img-news-5 w-ls-lg-100 w-lg-100 position-relative bg-img-size-hover-110 transition-all"><b
                            class="d-block position-absolute top-0 bottom-0 left-0 right-0 bg-img-bgcolor-primary-0 bg-img-bgcolor-hover-primary-55 bg-img-transition-bgcolor"></b></i>
                <div class="col py-18px pl-28px pr-14px text-left lh-0 min-height-ls-lg-104px min-height-104px px-lg-8px">
                    <span class="lh-150 ff-semibold fs-short-3 color-cat-cit">Citoyen</span>
                    <h3 class="pt-8px lh-125 fs-short-2 text-dark-primary text-hover-primary transition-all">
                        Suspension des permanences Juillet-Août</h3>
                </div>
            </a>
        </li>
        <li class="pt-8px col-ls-lg-4 px-ls-lg-4px d-none d-ls-lg-block d-lg-block col-lg-4 px-lg-4px">
            <a href="#"
               class="d-flex shadow-sm-1 border border-width-1px border-default flex-ls-lg-column flex-lg-column bg-img overflow-hidden">
                <i class="w-104px min-height-103px p-0 bg-img-news-6 w-ls-lg-100 w-lg-100 position-relative bg-img-size-hover-200 transition-all">
                    <b class="d-block position-absolute top-0 bottom-0 left-0 right-0 bg-img-bgcolor-primary-0 bg-img-bgcolor-hover-primary-55 bg-img-transition-bgcolor"></b>
                </i>
                <div class="col py-18px pl-28px pr-14px text-left lh-0 min-height-ls-lg-104px min-height-104px px-lg-8px">
                    <span class="lh-150 ff-semibold fs-short-3 color-cat-spo">Sport</span>
                    <h3 class="pt-8px lh-125 fs-short-2 text-dark-primary text-hover-primary transition-all">
                        Accès piscine Centre sportif pour le public</h3>
                </div>
            </a>
        </li>
    </ul>

    <a href="#"
       class="button lvl3 mt-12px align-self-ls-md-end align-self-md-end position-relative left-0 left-hover-12px">Plus
        d'actualités<i class="fas fa-angle-right d-none d-ls-md-inline pl-12px fs-basic d-md-inline"></i></a>
</div>
