<!--NEWS / CALENDAR-->
<div class="bg-white pt-24px px-24px text-center position-relative d-ls-md-flex mx-ls-md-n15px d-md-flex mx-md-n15px px-xl-48px mx-xl-n30px justify-content-md-center">
    <i class="curve-svg-home"></i>

    <!--news-->
   {% include 'home/news/show.html.twig' %}
    <!--events-->

 </div>
