{# <li class="px-0 w-md-100 col-ls-lg-4 px-ls-lg-4px col-lg-4 px-lg-4px">
 {% include 'home/news/_news_inline.html.twig' %}
</li>
#}
<li class="px-0 w-md-100 col-ls-lg-4 px-ls-lg-4px col-lg-4 px-lg-4px pt-lg-0 pt-ls-lg-0 pt-8px ">
    {% include 'home/news/_news_inline.html.twig' %}
</li>
