<!-- second line -->
{% set actu = actus[1] %}
<li class="pt-8px px-0 w-md-100 col-ls-lg-4 pt-ls-lg-0 px-ls-lg-4px col-lg-4 px-lg-4px pt-lg-0">
    {% include 'home/news/_news_line.html.twig' %}
</li>
{% set actu = actus[2] %}
<li class="pt-8px px-0 w-md-100 col-ls-lg-4 pt-ls-lg-0 px-ls-lg-4px col-lg-4 px-lg-4px pt-lg-0">
    {% include 'home/news/_news_line.html.twig' %}
</li>
