<div class="px-0 col-md-8 d-md-flex flex-md-column px-md-15px col-ls-md-8 d-ls-md-flex flex-ls-md-column px-xl-30px mw-896px">
    <h2 class="text-ls-md-left pt-ls-md-8px text-md-left pt-md-8px">Actualités</h2>
    <ul class="pt-24px pt-ls-md-32px pt-md-32px d-ls-lg-flex flex-ls-lg-wrap mx-ls-lg-n4px d-lg-flex flex-lg-wrap mx-lg-n4px">

        <!--always visible-->
        {% for actu in news %}
            {% if loop.index < 3 %}
                {% include 'home/news/_news_list_always.html.twig' %}
            {% endif %}
        {% endfor %}

        <!--visible from landscape&&large-->
        {% for actu in news %}
            {% if loop.index > 3 %}
            {% include 'home/news/_news_list_large.html.twig' %}
            {% endif %}
        {% endfor %}

    </ul>

    <a href="/actualites"
       class="button lvl3 mt-12px align-self-ls-md-end align-self-md-end position-relative left-0 left-hover-12px">Plus
        d'actualités<i class="fas fa-angle-right d-none d-ls-md-inline pl-12px fs-basic d-md-inline"></i></a>
</div>
