<!--CONTENT-->
<section id="content"
         class="pt-42px pb-36px pl-ls-42px overflow-ls-hidden overflow-md-hidden pl-ls-lg-0 pt-xl-66px pb-lg-66px mw-1440px mx-xl-auto w-100">

    <!--MAP-->
    <div class="bg-white pt-24px px-24px position-relative d-md-flex px-xl-48px mx-xl-n30px justify-content-md-center flex-column">

        <!--back | TODO JF: lien dynamique vers la page précédente-->
        <a href="/"
           class="button lvl3 align-self-ls-md-start align-self-md-start position-relative right-0 right-hover-12px fs-short-2"><i
                    class="fas fa-angle-left pr-8px d-ls-md-inline pr-md-12px fs-short-2 d-md-inline"></i>Retour à
            l'accueil</a>

        <!--title-->
        <h2 class="text-ls-md-left pt-ls-md-8px text-md-left pt-md-8px">Carte dynamique</h2>

        <!--tabs/map-->
        <div class="mt-48px d-flex flex-column flex-lg-row mx-0 mx-lg-n48px overflow-hidden align-items-lg-stretch mx-xxl-0 xxl-shadow-sm-1">

            <!--tabs | TODO JF: branchement des tabs-->
            <div class="col-12 col-lg-3 px-0 lg-shadow-sm-1 position-relative z-10">
                <div class="d-block d-lg-none pr-12px border border-dark-primary">
                    <select name="tabs" id="tab-select" class="fs-short-3 ff-semibold">
                        <option value="0" selected>Vêtements</option>
                        <option value="1">Médical</option>
                        <option value="2">Déchets</option>
                        <option value="3">Bars</option>
                        <option value="4">Parking centre-ville</option>
                        <option value="5">Restauration</option>
                        <option value="6">Gestion de l'eau</option>
                        <option value="7">Commune</option>
                        <option value="8">Culture</option>
                        <option value="9">Bibliothèque</option>
                    </select>
                </div>

                <ul class="d-none d-lg-block border-bottom border-default">
                    <li class="border-top border-default">
                        <a href="#"
                           class="d-flex align-items-center h-45px pl-48px pr-16px text-dark-primary text-hover-primary transition-color icon_custom"><i
                                    class="i-shirt w-22px h-22px mr-16px bg-size-auto"></i>Vêtements</a>
                    </li>
                    <li class="border-top border-default">
                        <a href="#"
                           class="d-flex align-items-center h-45px pl-48px pr-16px text-dark-primary text-hover-primary transition-color icon_custom"><i
                                    class="i-medical w-22px h-22px mr-16px bg-size-auto"></i>Médical</a>
                    </li>
                    <li class="border-top border-default">
                        <a href="#"
                           class="d-flex align-items-center h-45px pl-48px pr-16px text-dark-primary text-hover-primary transition-color icon_custom"><i
                                    class="i-trash w-22px h-22px mr-16px bg-size-auto"></i>Déchets</a>
                    </li>
                    <li class="border-top border-default">
                        <a href="#"
                           class="d-flex align-items-center h-45px pl-48px pr-16px text-dark-primary text-hover-primary transition-color icon_custom"><i
                                    class="i-martini-glass w-22px h-22px mr-16px bg-size-auto"></i>Bars</a>
                    </li>
                    <li class="border-top border-default">
                        <a href="#"
                           class="d-flex align-items-center h-45px pl-48px pr-16px text-dark-primary text-hover-primary transition-color icon_custom"><i
                                    class="i-cart w-22px h-22px mr-16px bg-size-auto"></i>Parking centre-ville</a>
                    </li>
                    <li class="border-top border-default">
                        <a href="#"
                           class="d-flex align-items-center h-45px pl-48px pr-16px text-dark-primary text-hover-primary transition-color icon_custom"><i
                                    class="i-flatware w-22px h-22px mr-16px bg-size-auto"></i>Restauration</a>
                    </li>
                    <li class="border-top border-default">
                        <a href="#"
                           class="d-flex align-items-center h-45px pl-48px pr-16px text-dark-primary text-hover-primary transition-color icon_custom"><i
                                    class="i-water-drop w-22px h-22px mr-16px bg-size-auto"></i>Gestion de l'eau</a>
                    </li>
                    <li class="border-top border-default">
                        <a href="#"
                           class="d-flex align-items-center h-45px pl-48px pr-16px text-dark-primary text-hover-primary transition-color icon_custom"><i
                                    class="i-umbrella w-22px h-22px mr-16px bg-size-auto"></i>Commune</a>
                    </li>
                    <li class="border-top border-default">
                        <a href="#"
                           class="d-flex align-items-center h-45px pl-48px pr-16px text-dark-primary text-hover-primary transition-color icon_custom"><i
                                    class="i-disk w-22px h-22px mr-16px bg-size-auto"></i>Culture</a>
                    </li>
                    <li class="border-top border-default">
                        <a href="#"
                           class="d-flex align-items-center h-45px pl-48px pr-16px text-dark-primary text-hover-primary transition-color icon_custom"><i
                                    class="i-book w-22px h-22px mr-16px bg-size-auto"></i>Bibliothèque</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 min-height-330px mt-24px mt-lg-0 col-lg-9 px-0 d-flex align-items-center justify-content-center overflow-hidden position-relative bg-lighter">
                <img src="{{ template_directory }}/assets/tartine/rsc/img/img_tempo_map.png" alt="tempo" class="position-absolute h-100 w-lg-100 h-lg-auto">
            </div>
        </div>
    </div>
</section>
