{% if event.medias | length > 1 %}
    <div class="row">
        {% for media in event.medias %}
            <div class="col-3">
                <img src="{{ media.url }}" alt="{{ media.titre }}">
            </div>
        {% endfor %}
    </div>
{% endif %}
