    <div class="pt-55px px-0 col-md-4 d-md-flex flex-md-column pt-md-0 px-md-15px pt-ls-md-0 col-ls-md-4 d-ls-md-flex flex-ls-md-column px-xl-30px mw-md-544px">
        <div class="p-ls-md-8px ls-md-shadow-sm-1 p-md-8px md-shadow-sm-1">
            <h2 class="text-ls-md-left text-md-left">Agenda</h2>
            <ul class="pt-24px pt-ls-md-32px d-ls-sm-flex mx-ls-sm-n4px flex-ls-md-column pt-md-32px flex-md-column">

                <!--always visible-->
                <li class="px-0 col-ls-sm-4 col-ls-md-12 px-ls-sm-4px col-md-12 px-md-0">
                    <a href="#"
                       class="d-flex shadow-sm-1 ls-md-shadow-none border border-width-1px border-default md-shadow-none thumbnail t-border-hover-primary t-transition-border-color">
                        <div class="col-3 border-right border-width-1px border-default py-11px t-bgcolor-hover-primary t-border-hover-white t-transition-all">
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-big-1 t-color-hover-white t-transition-color">05</span>
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-short-1 pt-4px pb-5px t-color-hover-white t-transition-color pb-md-4px pb-lg-5px">03</span>
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-short-3 t-color-hover-white t-transition-color">2020</span>
                        </div>
                        <div class="col-9 py-11px pl-28px pl-ls-sm-14px pr-14px align-self-center text-left lh-0 pl-md-14px">
                            <h3 class="lh-125 fs-short-2 text-dark-primary pb-4px">Concert Pomme</h3>
                            <small class="lh-100 fs-short-3 text-dark-primary">Marche-en-Famenne</small>
                        </div>
                    </a>
                </li>

                <!--visible from landscape&&small-->
                <li class="d-none d-ls-sm-block col-ls-sm-4 col-ls-md-12 px-ls-sm-4px pt-ls-md-8px d-md-block col-md-12 pt-md-8px px-md-0">
                    <a href="#"
                       class="d-flex shadow-sm-1 ls-md-shadow-none border border-width-1px border-default md-shadow-none thumbnail t-border-hover-primary t-transition-border-color">
                        <div class="col-3 border-right border-width-1px border-default py-11px t-bgcolor-hover-primary t-border-hover-white t-transition-all">
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-big-1 t-color-hover-white t-transition-color">07</span>
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-short-1 pt-4px pb-5px t-color-hover-white t-transition-color pt-md-3px pb-md-4px pt-lg-4px pb-lg-5px">03</span>
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-short-3 t-color-hover-white t-transition-color">2020</span>
                        </div>
                        <div class="col-9 py-11px pl-28px pl-ls-sm-14px pr-14px align-self-center text-left lh-0 pl-md-14px">
                            <h3 class="lh-125 fs-short-2 text-dark-primary pb-4px">Souper couscous du Vieux
                                Tilleul</h3>
                            <small class="lh-100 fs-short-3 text-dark-primary">Waha</small>
                        </div>
                    </a>
                </li>
                <li class="d-none d-ls-sm-block col-ls-sm-4 col-ls-md-12 px-ls-sm-4px pt-ls-md-8px d-md-block col-md-12 pt-md-8px px-md-0">
                    <a href="#"
                       class="d-flex shadow-sm-1 ls-md-shadow-none border border-width-1px border-default md-shadow-none thumbnail t-border-hover-primary t-transition-border-color">
                        <div class="col-3 border-right border-width-1px border-default py-11px t-bgcolor-hover-primary t-border-hover-white t-transition-all">
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-big-1 t-color-hover-white t-transition-color">07</span>
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-short-1 pt-4px pb-5px t-color-hover-white t-transition-color pt-md-3px pb-md-4px pt-lg-4px pb-lg-5px">03</span>
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-short-3 t-color-hover-white t-transition-color">2020</span>
                        </div>
                        <div class="col-9 py-11px pl-28px pl-ls-sm-14px pr-14px align-self-center text-left lh-0 pl-md-14px">
                            <h3 class="lh-125 fs-short-2 text-dark-primary pb-4px">Les Petits Feux</h3>
                            <small class="lh-100 fs-short-3 text-dark-primary">Verdenne</small>
                        </div>
                    </a>
                </li>

                <!--visible from landscape&&medium / medium-->
                <li class="d-none col-ls-md-12 px-ls-sm-4px pt-ls-md-8px d-md-block col-md-12 pt-md-8px px-md-0">
                    <a href="#"
                       class="d-flex shadow-sm-1 ls-md-shadow-none border border-width-1px border-default md-shadow-none thumbnail t-border-hover-primary t-transition-border-color">
                        <div class="col-3 border-right border-width-1px border-default py-11px t-bgcolor-hover-primary t-border-hover-white t-transition-all">
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-big-1 t-color-hover-white t-transition-color">07</span>
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-short-1 pt-4px pb-5px t-color-hover-white t-transition-color pt-md-3px pb-md-4px pt-lg-4px pb-lg-5px">03</span>
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-short-3 t-color-hover-white t-transition-color">2020</span>
                        </div>
                        <div class="col-9 py-11px pl-28px pl-ls-sm-14px pr-14px align-self-center text-left lh-0 pl-md-14px">
                            <h3 class="lh-125 fs-short-2 text-dark-primary pb-4px">Grand feu des Godis</h3>
                            <small class="lh-100 fs-short-3 text-dark-primary">Aye</small>
                        </div>
                    </a>
                </li>

                <!--visible from landscape&&large / large-->
                <li class="d-none col-ls-lg-12 px-ls-sm-4px pt-ls-md-8px d-ls-lg-block d-lg-block pt-lg-8px">
                    <a href="#"
                       class="d-flex shadow-sm-1 ls-md-shadow-none border border-width-1px border-default md-shadow-none thumbnail t-border-hover-primary t-transition-border-color">
                        <div class="col-3 border-right border-width-1px border-default py-11px t-bgcolor-hover-primary t-border-hover-white t-transition-all">
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-big-1 t-color-hover-white t-transition-color">08</span>
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-short-1 pt-4px pb-5px t-color-hover-white t-transition-color pt-md-3px pb-md-4px pt-lg-4px pb-lg-5px">03</span>
                            <span class="d-block text-dark-primary ff-semibold lh-100 fs-short-3 t-color-hover-white t-transition-color">2020</span>
                        </div>
                        <div class="col-9 py-11px pl-28px pl-ls-sm-14px pr-14px align-self-center text-left lh-0 pl-md-14px">
                            <h3 class="lh-125 fs-short-2 text-dark-primary pb-4px">Salon Horecatel</h3>
                            <small class="lh-100 fs-short-3 text-dark-primary">Marche-en-Famenne</small>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <a href="events.html"
           class="button lvl3 mt-12px align-self-ls-md-end align-self-md-end position-relative left-0 left-hover-12px">Tout
            l'agenda<i class="fas fa-angle-right d-none d-ls-md-inline pl-12px fs-basic d-md-inline"></i></a>
    </div>
