<!--visible from landscape&&large / large-->
<li class="d-none col-ls-lg-12 px-ls-sm-4px pt-ls-md-8px d-ls-lg-block d-lg-block pt-lg-8px">
    {% include 'home/agenda/_events_inline.html.twig' %}
</li>
