<!--visible from landscape&&medium / medium-->
{% set event = events[3] %}
<li class="d-none col-ls-md-12 px-ls-sm-4px pt-ls-md-8px d-md-block col-md-12 pt-md-8px px-md-0">
    {% include 'home/agenda/_event_line.html.twig' %}
</li>
