<div class="calendar">
    <a href="/administration/contacter-la-commune/">
        <i class="icon_nav i-clock"></i>
        <span>Horaires-Contacts</span>
    </a>
</div>
<!--more-->
<div class="more">
    <input type="checkbox" id="more" name="more"/>
    <a href="#" for="more">
        <i class="icon_nav i-plus"></i>
    </a>

    <div class="bubble">
        <i class="graphicElement"></i>
        <div>
            <a href="https://eguichet.marche.be">E-Guichet</a>
            <a href="/actualites/">Actualités</a>
            <a href="/tourisme/agenda-des-manifestations/">Agenda</a>
        </div>
        <i class="graphicElement"></i>
    </div>
</div>

<!--visible from extralarge-->
<!--e-ticket-->
<div class="eticket">
    <a href="https://eguichet.marche.be">
        <span>E-Guichet</span>
    </a>
</div>
<!--news-->
<div class="news">
    <a href="/actualites/">
        <span>Actualités</span>
    </a>
</div>
<!--agenda-->
<div class="agenda">
    <a href="/tourisme/agenda-des-manifestations/">
        <span>Agenda</span>
    </a>
</div>
