<!--calendar-->
<div class="calendar">
    <a href="#">
        <i class="icon_nav i-clock"></i>
        <span>Horaires-Contacts</span>
    </a>
</div>
<!--more-->
<div class="more">
    <input type="checkbox" id="more" name="more"/>
    <a href="#" for="more">
        <i class="icon_nav i-plus"></i>
    </a>

    <div class="bubble">
        <i class="graphicElement"></i>
        <div>
            <a href="#">E-Guichet</a>
            <a href="news.html">Actualités</a>
            <a href="events.html">Agenda</a>
        </div>
        <i class="graphicElement"></i>
    </div>
</div>

<!--visible from extralarge-->
<!--e-ticket-->
<div class="eticket">
    <a href="#">
        <span>E-Guichet</span>
    </a>
</div>
<!--news-->
<div class="news">
    <a href="news.html">
        <span>Actualités</span>
    </a>
</div>
<!--agenda-->
<div class="agenda">
    <a href="events.html">
        <span>Agenda</span>
    </a>
</div>
