<div class="searchScreen">
    <i class="graphicElement"></i>

    <ul>
        <li class="col-ls-12">
            <div class="h-32px">
                <input type="search" placeholder="Que cherchez-vous ?"
                       class="border-0 rounded-pill h-32px pl-16px pr-48px fs-short-3">
                <button class="position-absolute top-0 bottom-0 right-0 w-32px h-32px d-flex justify-content-center align-items-center p-0 border-0 rounded-right-pill bg-transparent icon_custom">
                    <!--<i class="fa fa-search text-dark-primary"></i>-->
                    <i class="i-search i-dark-primary w-16px h-16px"></i>
                </button>
            </div>
            <!--TODO JF: branchement-->
            <a href="#" class="icon_custom">
                <i class="i-times"></i>
            </a>
        </li>
        {% include 'header/home/_icones.html.twig' %}
    </ul>

    <i class="graphicElement"></i>
</div>
