{% set event = events[0] %}
{{ dump(event) }}
<!--event-1-->
<li class="object-card oc-event col-md-6 px-md-4px col-lg-4 px-lg-8px">
    {% include 'agenda/list/_event_line.html.twig' %}
</li>
{% if events|length > 1 %}
    <!--event-2-->
    {% set event = events[1] %}
    <li class="object-card oc-event pt-8px pt-md-0 col-md-6 px-md-4px col-lg-4 px-lg-8px">
        {% include 'agenda/list/_event_line.html.twig' %}
    </li>
{% endif %}
<!--event-3-->
{% if events|length > 2 %}
    {% set event = events[2] %}
    <li class="object-card oc-event pt-8px pt-lg-0 col-md-6 px-md-4px col-lg-4 px-lg-8px">
        {% include 'agenda/list/_event_line.html.twig' %}
    </li>
{% endif %}