<!--CONTENT-->
<section id="content"
         class="pt-42px pb-36px pl-ls-42px overflow-ls-hidden overflow-md-hidden pl-ls-lg-0 pt-xl-66px pb-lg-66px mw-1440px mx-xl-auto w-100">

    <!--ARTICLE-->
    <div class="bg-white pt-24px px-24px position-relative d-md-flex px-xl-48px mx-xl-n30px justify-content-md-center flex-column">

        <!--back | TODO JF: lien dynamique vers la page précédente-->
        <a href="#"
           class="button lvl3 align-self-ls-md-start align-self-md-start position-relative right-0 right-hover-12px fs-short-2"><i
                    class="fas fa-angle-left pr-8px d-ls-md-inline pr-md-12px fs-short-2 d-md-inline"></i>Retour a X</a>

        <!--title-->
        <h2 class="text-ls-md-left pt-ls-md-8px text-md-left pt-md-8px">Page non trouvée</h2>

        <!--category-->
        <span class="color-cat-cit ff-semibold pt-12px d-block fs-short-2">Citoyen</span>

        <!--article-->
        <div class="pt-48px d-lg-flex mx-n15px">
            <div class="d-flex flex-column align-items-center mx-md-n15px flex-md-wrap flex-md-row align-items-md-start flex-lg-column col-lg-8 mx-lg-0 flex-lg-nowrap">
                <!--img-->
                <div class="bg-img w-100 h-220px position-relative h-lg-330px">
                    <i style="background-image: url('{{ template_directory }}/assets/images/404.jpg')"
                       class="bg-img-news-1 position-absolute top-0 bottom-0 left-0 right-0 md-left-15px md-right-15px lg-left-0 lg-right-0"></i>
                </div>

                <!--OBJECT | TAGS-->
                <div class="overflow-hidden w-100 pt-24px col-md-12 px-0 px-md-15px d-lg-none">

                </div>

                <!--OBJECT | TEXT-DYN | TODO JF : brancher la possibilité d'ouvrir/réduire le content avec un ellipsis + condition sur l'extend-->
                <div class="object-text-dyn col-md-8 px-0 px-md-15px col-lg-12 px-lg-0">
                    <input type="checkbox" id="text-dyn"/>
                    <div for="text-dyn">
                        <span class="more">Lire plus</span>
                        <span class="less">Réduire</span>
                    </div>
                    <div for="text-dyn">
                        <a href="/"><p>Retour à l'accueil</p></a>
                    </div>
                </div>

                <!--OBJECT | SHARE-->
                <div class="pt-24px w-100 col-md-4 px-0 px-md-15px d-lg-none">

                </div>

                <!--previous/next-->


                <!--OBJECT | RECOM-->
                <div class="pt-24px w-100 col-md-8 px-0 px-md-15px d-lg-none">
                    {% include 'article/_recommandation.html.twig' %}
                </div>
            </div>

            <div class="d-none d-lg-flex col-4 flex-column h-330px justify-content-between">

                <!--OBJECT | SHARE-->
                <div class="w-100">

                </div>

                <!--OBJECT | TAGS-->
                <div class="overflow-hidden w-100 pt-24px">

                </div>

                <!--OBJECT | RECOM-->
                <div class="pt-24px w-100">
                    {% include 'article/_recommandation.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</section>
