<a href="#" class="bg-img">
    <i class="bg-img-event-1 bg-img-size-hover-110">
        <b class="d-block position-absolute top-0 bottom-0 left-0 right-0 bg-img-bgcolor-primary-0 bg-img-bgcolor-hover-primary-55 bg-img-transition-bgcolor"></b>
        <span class="text-white shadow-text-sm m-auto bg-img-opacity-0 bg-img-opacity-hover-1 transition-opacity d-block align-self-center z-10 ff-semibold fs-short-2">Voir l'événement</span>
    </i>
    <div>
        <!--date-->
        <div class="col-3">
            <span>02</span>
            <span>03</span>
            <span>2020</span>
        </div>

        <!--other datas-->
        <div class="col-9">

            <!--TODO JF: placer la limite de caractère pour l'ellipsis-->
            <h3 maxlenght="0">Course cycliste : DH Famenne-Ardenne</h3>

            <small>Marche-en-Famenne</small>

            <!--TODO JF: condition si événement sur plusieurs jours/mois/années/décénnies/...-->
            <small>Du 02.03.2020 au 24.03.2020</small>
        </div>
    </div>
</a>
