<!--event-1-->
{% set date_affichage = true %}
{% set event = events[0] %}
<li class="object-card oc-event col-md-6 px-md-4px col-lg-4 px-lg-8px">
    {% include 'agenda/_event_line.html.twig' %}
</li>
