<!--CONTENT-->
<section id="content"
         class="pt-42px pb-36px pl-ls-42px overflow-ls-hidden overflow-md-hidden pl-ls-lg-0 pt-xl-66px pb-lg-66px mw-1440px mx-xl-auto w-100">

    <!--NEWS-->
    <div class="bg-white pt-24px px-24px position-relative d-md-flex px-xl-48px mx-xl-n30px justify-content-md-center flex-column">

        <!--back | TODO JF: lien dynamique vers la page précédente-->
        <a href="/"
           class="button lvl3 align-self-ls-md-start align-self-md-start position-relative right-0 right-hover-12px fs-short-2"><i
                    class="fas fa-angle-left pr-8px d-ls-md-inline pr-md-12px fs-short-2 d-md-inline"></i>Retour à
            l'accueil</a>

        <!--title-->
        <h2 class="text-ls-md-left pt-ls-md-8px text-md-left pt-md-8px">Agenda des manifestations</h2>

        <!--events-->
        <div class="px-0 d-md-flex flex-md-column d-ls-md-flex flex-ls-md-column pt-48px align-items-center">

            <!--list | TODO JF: à brancher-->
            <noscript>
                <ul class="pt-24px pt-md-32px d-md-flex flex-md-wrap mx-md-n4px mx-lg-n8px object-cardsList">
                    {% include 'agenda/list/_first_lines.html.twig' %}
                    {% include 'agenda/list/_other_lines.html.twig' %}
                </ul>
            </noscript>
            <div id="app-agenda"></div>
            <!-- TODO JF: à brancher
            <a href="#"
               class="button lvl3 mt-12px align-self-ls-md-center align-self-md-center position-relative left-0 left-hover-12px d-flex justify-content-center">Charger
                plus d'événements<i class="fas fa-angle-down d-ls-md-inline pl-8px pl-md-12px fs-basic d-md-inline"></i></a>
            -->
        </div>
    </div>
</section>
