{% extends "article/show.html.twig" %}

{% block category %}
    Agenda
{% endblock %}

{% block content %}
{{ dump(event.description) }}

{% if event.description %}
    <p>{{ event.description|raw|nl2br }}</p>
{% endif %}

<p>
    {% for date in event.dates %}
        {{ date.date_affichage }}
    {% endfor %}
</p>

{% include 'agenda2/show/_images.html.twig' %}
{% include 'fiche/_carte.html.twig' %}<p>

{% endblock %}
