<!--OBJECT | ALERT-->
<div class="object-alert">
    <div>
        <div>
            <h3>Avertissement</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum sequi, quos autem blanditiis hic quisquam
                nihil neque. Quia, quae, eius! Ullam ab, minima magni iste ea quae perspiciatis quas consequatur.</p>
        </div>
        <a href="#">
            <i class="fas fa-times" id="btn-close-alert"></i>
        </a>
    </div>
</div>
