{% if pageAlert != null %}
    <!--OBJECT | ALERT-->
    <div class="object-alert" id="date-alert" data-date="{{ dateAlert }}">
        <div>
            <div>
                <h3>{{ pageAlert.post_title }}</h3>
                <p>{{ contentAlert|raw }}</p>
            </div>
            <a href="javascript: ()=>{return null;}">
                <i class="fas fa-times" id="btn-close-alert"></i>
            </a>
        </div>
    </div>
{% endif %}
