<!--CONTENT-->
<section id="content" class="pt-42px pl-ls-42px overflow-ls-hidden overflow-md-hidden pl-ls-lg-0 pt-xl-66px">

    <!--HOME_SEARCH-->
    {% include 'homepage/_alert.html.twig' %}
    {% include 'homepage/_home_search.html.twig' %}

    <!--NEWS / CALENDAR-->
    {% include 'homepage/_news_calendar.html.twig' %}

    <!--WIDGETS-->
    {% include 'homepage/_widgets.html.twig' %}

    <!--PARTNERS-->
    {% include 'homepage/_partners.html.twig' %}

    <!--ALERT-->

</section>
