<h4 class="mt-3"><strong>Dates d'affichage</strong></h4>
{{ annonce.dateDebutAffichage|format_date('full', '', null, 'gregorian', 'fr') }}
au {{ annonce.dateFinAffichage|format_date('full', '', null, 'gregorian', 'fr') }}


