<!--OBJECT | FOOTER-->
<footer>
    <section
            class="px-0 d-md-flex flex-md-wrap mx-md-n15px px-md-15px d-ls-flex flex-ls-wrap mx-ls-n15px pl-ls-15px col-xl-9 order-xl-2">
        <div class="px-0 col-ls-6 col-ls-md-4 col-md-6 col-lg-4 border-xl-left border-white-25 pl-xl-14px">
            <h6>Découvrez</h6>
            <ul class="d-flex flex-wrap mx-n11px">
                <li class="col-6 col-ls-12 col-md-12">
                    <a href="https://eguichet.marche.be">E-Guichet</a>
                </li>
                <li class="col-6 col-ls-12 order-ls-3 col-md-12 order-md-3">
                    <a href="/administration/contacter-la-commune/">Horaires-Contact</a>
                </li>
                <li class="col-6 col-ls-12 order-ls-2 col-md-12 order-md-2">
                    <a href="/actualites">Actualités</a>
                </li>
                <li class="col-6 col-ls-12 order-ls-4 col-md-12 order-md-4">
                    <a href="/tourisme/agenda-des-manifestations/">Agenda</a>
                </li>
            </ul>
        </div>
        <div class="pt-24px px-0 col-ls-6 pt-ls-0 col-ls-md-4 pt-md-0 pl-md-12px pl-ls-md-0 col-md-6 col-lg-4 border-xl-left border-white-25 pl-xl-14px">
            <h6>Raccourcis</h6>
            <ul class="d-flex flex-wrap mx-n11px">
                <li class="col-6">
                    <a href="/sport/piscine-communale">Piscine</a>
                </li>
                <li class="col-6">
                    <a href="/environnement/dechets">Environnment : Déchet</a>
                </li>
                <li class="col-6">
                    <a href="/mobilite/infos-travaux/">Travaux</a>
                </li>
                <li class="col-6">
                    <a href="https://enfance-jeunesse.marche.be">Enfant-Stage</a>
                </li>
                <li class="col-6">
                    <a href="/tourisme/cartographie">Plan de la ville</a>
                </li>
                <li class="col-6">
                    <a href="/social/centre-public-daction-sociale-cpas/">CPAS</a>
                </li>
                <li class="col-6">
                    <a href="https://citoyen.marche.be">Mon mail</a>
                </li>
            </ul>
        </div>
        <div class="pt-24px px-0 col-ls-12 col-ls-md-4 pt-ls-md-0 col-md-12 col-lg-4 pt-lg-0 border-xl-left border-white-25 pl-xl-14px">
            <h6>Contact</h6>
            <ul>
                <li>Hôtel de ville : <a href="tel:+3284327000">084 32 70 00</a></li>
                <li>Du lundi au jeudi : de 8h à 12h et de 13h à 17h</li>
                <li>Vendredi : de 8h à 12h et de 13h à 15h</li>
                <li class="d-flex">
                    <a href="https://www.facebook.com/VilledeMarcheenFamenne" class="text-white border-0 pb-0">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/VilledeMarche" class="ml-11px text-white border-0 pb-0">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="ml-11px text-white border-0 pb-0">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/user/VilledeMarche" class="ml-11px text-white border-0 pb-0">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="d-flex mt-24px w-100 px-0 col-xl-3 border-xl-0 mt-xl-0 position-xl-initial">
        <div class="col-6 pt-24px pl-0 pt-xl-12px">
            <a href="#" class="d-block">
                <img src="{{ template_directory }}/assets/tartine/rsc/img/img_logo_white.png" alt="logo" class="w-88px">
            </a>
        </div>
        <div class="col-6 pt-24px pr-0 pl-md-0 position-xl-absolute xl-top-auto xl-bottom-0 xl-left-auto xl-right-70px pt-xl-16px pb-xl-16px pl-xl-0 d-xl-flex flex-xl-row w-xl-100 align-items-xl-center justify-content-xl-end">
            <a href="/administration/rgpd" class="d-block pt-xl-4px pb-xl-3px mr-xl-8px border-xl-bottom border-white-25">Vie privée</a>
            <a href="/administration/rgpd" class="d-block pt-8px pt-xl-4px pb-xl-3px ml-xl-8px border-xl-bottom border-white-25">Mentions
                légales</a>
            <small class="pt-xl-0"><span class="d-none d-xl-inline pl-xl-8px pr-xl-4px fs-short-3"> - </span>Copyright ©
                2020<span class="d-none d-ls-md-inline d-md-inline"> - </span><br class="d-ls-md-none d-md-none">Ville
                de Marche-en-Famenne<span class="d-none d-ls-md-inline d-md-inline">. </span><br
                        class="d-ls-md-none d-md-none">Tous droits réservés</small>
        </div>
    </section>
</footer>
{% include 'footer/_analytics.html.twig' %}
