<!--search-->
<div class="mw-550px position-relative m-auto w-100 mt-48px">
    <form method="get" action="/?s=">
        <input type="search" name="s" placeholder="Que cherchez-vous ?" autocomplete="off" value="{{ keyword }}"
               class="border-0 rounded-pill h-42px pl-16px pr-58px fs-short-3 bg-lighter">
        <button type="submit" class="position-absolute top-0 bottom-0 right-0 w-42px d-flex justify-content-center align-items-center p-0 border-0 rounded-right-pill bg-transparent icon_custom">
            <!--<i class="fa fa-search text-dark-primary"></i>-->
            <i class="i-search i-dark-primary"></i>
        </button>
    </form>
</div>