<div class="pt-24px">
    <ul class="d-flex mx-n12px flex-wrap">
        {% for result in hits %}
            {% set hit = result.hit %}
            {% set data = hit._source %}
            {% include 'search/_result_line.html.twig' %}
        {% endfor %}
    </ul>

    <!-- TODO JF: à brancher -->
    <a href="#"
       class="button lvl3 mt-12px align-self-ls-md-center align-self-md-center position-relative left-0 d-flex justify-content-center">Charger
        plus d'éléments<i
                class="fas fa-angle-down d-ls-md-inline pl-8px pl-md-12px fs-basic d-md-inline"></i></a>
</div>
