<li class="pb-12px px-12px col-12 col-md-6">
    <a href="{{ doc.url }}" class="border border-default p-24px shadow-sm d-block">
        <h3 class="fs-short-2 ff-semibold text-dark-primary text-hover-primary transition-all ellipsis">
            {{ doc.name }}
        </h3>
        <span class="d-block pt-8px fs-short-3 ellipsis text-dark-primary">
            {{ doc.excerpt }}
        </span>
    </a>
</li>
