<!--CONTENT-->
<section id="content"
         class="pt-42px pb-36px pl-ls-42px overflow-ls-hidden overflow-md-hidden pl-ls-lg-0 pt-xl-66px pb-lg-66px mw-1440px mx-xl-auto w-100">

    <!--DIRECTORY-->
    <div class="bg-white pt-24px px-24px position-relative d-md-flex px-xl-48px mx-xl-n30px justify-content-md-center flex-column">


        <h2 class="text-ls-md-left pt-ls-md-8px text-md-left pt-md-8px">Rechercher</h2>

        <!--results-->
        <!--searched-->
        <span class="pt-24px d-block text-center ff-semibold text-dark-primary fs-short-2">{{ count }} RÉSULTATS POUR "{{ keyword }}"</span>
        {% include 'search/_results.html.twig' %}
    </div>
</section>
