<li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12">
    <a href="/sport/piscine-communale" class="icon_custom"><i class="i-swimmer"></i>Piscine
    </a>
</li>
<li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12">
    <a href="/environnement/dechets" class="icon_custom"><i class="i-leaf"></i>Environnement-Déchet
    </a>
</li>
<li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12">
    <a href="/mobilite/infos-travaux/" class="icon_custom"><i class="i-traffic-cone"></i>Travaux<br />Arrêtés de police
    </a>
</li>
<li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12">
    <a href="https://enfance-jeunesse.marche.be" class="icon_custom"><i class="i-beach-ball"></i>Jeunesse-Stages
    </a>
</li>
<li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12">
    <a href="/tourisme/cartographie" class="icon_custom"><i class="i-map"></i>Cartes dynamiques</a></li>
<li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12">
    <a href="/social/centre-public-daction-sociale-cpas/" class="icon_custom"><i class="i-handshake"></i>CPAS
    </a>
</li>
<li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12">
    <a href="https://citoyen.marche.be" class="icon_custom"><i class="i-envelope"></i>Mon adresse e-mail
    </a>
</li>
