<!-- social networks -->
<div>

    <!-- TODO : à brancher -->
    <a href="#">
        <i class="fab fa-facebook-f"></i>
    </a>

    <!-- TODO : à brancher -->
    <a href="#">
        <i class="fab fa-twitter"></i>
    </a>

    <!-- TODO : à brancher -->
    <a href="#">
        <i class="fab fa-instagram"></i>
    </a>

    <!-- TODO : à brancher -->
    <a href="#">
        <i class="fab fa-youtube"></i>
    </a>
</div>
