<!-- social networks -->
<div>

    <!-- TODO : à brancher -->
    <a href="https://www.facebook.com/VilledeMarcheenFamenne" title="{{ showTemplate() }}">
        <i class="fab fa-facebook-f"></i>
    </a>

    <!-- TODO : à brancher -->
    <a href="https://twitter.com/VilledeMarche">
        <i class="fab fa-twitter"></i>
    </a>

    <!-- TODO : à brancher -->
    <a href="https://new.marche.be/wp-content/themes/marchebe/assets/">
        <i class="fab fa-instagram"></i>
    </a>

    <!-- TODO : à brancher -->
    <a href="https://www.youtube.com/user/VilledeMarche">
        <i class="fab fa-youtube"></i>
    </a>
</div>
