<h2>Les PV de {{ year }}</h2>
<ul class="list-group mb-2">
    {% for pv in pvs %}
        <li class="list-group-item">
            <a href="{{ pv.url }}"
               title="Télécharger le pv" target="_blank">
                {{ pv.name }}
            </a>
        </li>
    {% endfor %}
</ul>
