<li class="c-adm col-xl-5 mt-xl-12px col-ls-6 col-ls-xl-5 secondToggle">
    <a href="#" class="icon_custom btnOpenSecond">Administration2<i class="i-angle-right i-white bg-size-50"></i></a>

    <div class="col-xl-7 popo">
        <div class="p-24px d-xl-none col-ls-12">
            <h3 class="text-left">Administration3</h3>
            <span class="d-flex flex-row align-items-center pt-8px">
                   <a href="#"
                      class="d-flex flex-grow-1 align-items-center fs-short-2 text-dark-primary icon_custom btn-close-sub-nav"><i
                               class="i-angle-left bg-size-40 bg-position-left"></i>Retour sur Vivre à Marche</a>
                   <a href="#"
                      class="position-relative w-24px h-24px d-flex justify-content-center align-items-center icon_custom btn-close-sub-nav">
                       <i class="i-times"></i>
                   </a>
               </span>
        </div>
        {% include 'menu/_items.html.twig' %}
    </div>
</li>
