<li class="c-cul col-xl-5 col-ls-6 col-ls-xl-5" id="c-cul">
    <a href="#" onclick="btnOpenSecond('c-cul')" class="icon_custom" data-menu="c-cul">Culture<i
                class="i-angle-right i-white bg-size-50"></i></a>

    <div class="col-xl-7">
        <div class="p-24px d-xl-none col-ls-12">
            <h3 class="text-left">Culture</h3>
            <span class="d-flex flex-row align-items-center pt-8px">
               <a href="#" onclick="btnCloseSecond('c-cul')"
                  class="d-flex flex-grow-1 align-items-center fs-short-2 text-dark-primary icon_custom"><i
                           class="i-angle-left bg-size-40 bg-position-left"></i>Retour sur Vivre à Marche</a>
               <a href="#" onclick="btnCloseSecond('c-cul')"
                  class="position-relative w-24px h-24px d-flex justify-content-center align-items-center icon_custom">
                   <i class="i-times"></i>
               </a>
            </span>
        </div>
        {% include 'menu/_items.html.twig' %}
    </div>
</li>
