{% for row in items|batch(7) %}
    <ul class="col-ls-6">
        {% for item in row %}
            <li>
                <a href="{{ item.url }}">
                    {{ item.title }}
                    {% if  isExternalUrl(item.url) == true %}
                        <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}
