<li class="d-flex flex-row align-items-center p-24px d-xl-none col-ls-12">
    <h3 class="flex-grow-1 text-white text-left">Vivre à Marche</h3>
    <a href="#"
       class="position-relative w-24px h-24px d-flex justify-content-center align-items-center p-0 icon_custom">
        <i class="i-times i-white"></i>
        <!--<input type="radio" name="subnav" value="0" class="w-100 h-100">-->
    </a>
</li>
