{{ dump(event.description) }}

{% if event.description %}
    <p>{{ event.description|raw|nl2br }}</p>
{% endif %}
<p>
    {% for date in event.dates %}
        {{ date.date_affichage }}
    {% endfor %}
</p>
<p>
</p>

<p>
{% include 'agenda/show/_images.html.twig' %}<p>
<p>
{% include 'fiche/_carte.html.twig' %}<p>
