<div class="object-text-dyn col-md-8 px-0 px-md-15px col-lg-12 px-lg-0">
    <input type="checkbox" id="text-dyn"/>
    <div for="text-dyn">
        <span class="more">Lire plus</span>
        <span class="less">Réduire</span>
    </div>
    <div for="text-dyn">
        <p>{{ post.post_content|raw }}</p>
        <p>Le plan de relance économique mit sur pied par la Ville, via la Commission pluraliste a
            décidé de différentes mesures de soutien de l'économie local. Une de ces mesures est la mise
            en place d'un prêt de 6000€ à 0% d'intérêt proposé aux commerçants et Horeca marchois afin
            de les aider pour leur trésorerie et relancer leur activité plus sereinement.</p>
        <p>Ce prêt, jusqu'à 6000% est remboursable sur 2 ans, suivant un plan de paiement défini et
            accepté par les 2 parties. Le règlement du prêt, approuvé par le Conseil Communal en sa
            séance du 13 juillet, est disponible ci-dessous, de même que le <a href="#"
                                                                               class="hyperlink">formulaire</a>
            de demande.</p>
        <p>Ce formulaire, dûment complété, doit être envoyé à l'ADL (adl@marche.be) et doit être
            accompagné des documents suivants :</p>
        <ul>
            <li>Une copie de la carte d'identité du requérant;</li>
            <li>Les comptes annuels des deux derniers exercices (2018 et 2019);</li>
            <li>Les attestations ONSS (le cas échéant) et TVA;</li>
        </ul>
    </div>
</div>
