<!-- todo https://admin.readspeaker.com/portal/index.php/documentation/open_file/1603/fr_fr -->
{% if readspeaker is defined %}
    <div class="d-flex flex-row align-items-center ">
        <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve mt-3 mr-1">
            <a rel="nofollow" class="rsbtn_play" style="" accesskey="L" title="Ecoutez le texte avec ReadSpeaker webReader"
               href="//app-eu.readspeaker.com/cgi-bin/rsent?customerid=11982&amp;lang=fr_fr&amp;readid=reading&amp;url={{ currentUrl()|url_encode }}">
                <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>Ecouter</span></span></span>
                <span class="rsbtn_right rsimg rsplay rspart"></span>
            </a>
        </div>

        <button class="btn btn-success decrement mr-1" title="Diminuer la taille du texte"><i
                    class="fas fa-search-minus"></i></button>
        <button class="btn btn-success increment " title="Augmenter la taille du texte"><i
                    class="fas fa-search-plus"></i></button>

    </div>
{% endif %}
