<!-- todo https://admin.readspeaker.com/portal/index.php/documentation/open_file/1603/fr_fr -->
{% if readspeaker22 is defined %}
    <div class="d-flex flex-row align-items-center ">
        <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve">
            <a rel="nofollow" class="rsbtn_play" accesskey="L" title="Ecoutez le texte avec ReadSpeaker webReader"
               href="//app-eu.readspeaker.com/cgi-bin/rsent?customerid=11982&amp;lang=fr_fr&amp;readid=reading&amp;url={{ currentUrl()|url_encode }}">
                <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>Ecouter</span></span></span>
                <span class="rsbtn_right rsimg rsplay rspart"></span>
            </a>
        </div>
    </div>
{% endif %}
{% if readspeaker is defined %}
    <div class="d-flex pt-24px pr-15px">
        <div class="d-flex border mr-16px">
            <span title="Diminuer la taille du texte" style="cursor: pointer;" class="decrement d-flex align-items-center justify-content-center w-32px h-32px bg-white icon_custom">
            <i class="i-search-plus w-18px h-18px bg-size-auto"></i>
            </span>
            <span title="Augmenter la taille du texte" style="cursor: pointer;" class="increment d-flex align-items-center justify-content-center w-32px h-32px bg-white icon_custom border-left">
            <i class="i-search-less w-18px h-18px bg-size-auto"></i>
            </span>
        </div>
        <div class="d-flex border object-sound">
            <input type="checkbox" id="btn-sound" class="d-block w-32px h-32px z-10">
            <span class="d-flex align-items-center justify-content-center w-32px h-32px icon_custom">
                 <i class="i-sound-on i-white w-18px h-18px bg-size-auto"></i>
                 <i class="i-sound-off w-18px h-18px bg-size-auto"></i>
            </span>
        </div>
    </div>
{% endif %}
