<!-- todo https://admin.readspeaker.com/portal/index.php/documentation/open_file/1603/fr_fr -->
<div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve mt-3">
    <a rel="nofollow" class="rsbtn_play" accesskey="L" title="Ecoutez le texte avec ReadSpeaker webReader"
       href="//app-eu.readspeaker.com/cgi-bin/rsent?customerid=11982&amp;lang=fr_fr&amp;readid=reading&amp;url={{ currentUrl()|url_encode }}">
        <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>Ecouter</span></span></span>
        <span class="rsbtn_right rsimg rsplay rspart"></span>
    </a>
</div>
