<h4 class="text-dark-primary fs-basic text-right text-lg-left">Partagez l'article via</h4>
<div class="pt-12px pt-md-16px object-share">
    <a href="http://www.facebook.com/sharer.php?u={{ currentUrl() }}"><i class="fab fa-facebook-f"></i></a>
    <a href="http://twitter.com/share?url={{ currentUrl() }}&amp;text={{ nom }}"><i class="fas fa-link"></i></a>
    <a href="javascript:window.print();" class="d-none d-xl-flex"><i class="fas fa-print"></i></a>
</div>
