<!--OBJECT | TAGS-->
<div class="overflow-hidden w-100 pt-24px col-md-12 px-0 px-md-15px d-lg-none">
    <ul class="object-tags">
        {% for category in tags %}
            <li><a href="{{ category.term_id|category_link }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</div>
