<!--OBJECT | TAGS-->
<div class="overflow-hidden w-100 pt-24px col-md-12 px-0 px-md-15px d-lg-none">
    <ul class="object-tags">
        <li><a href="#">École</a></li>
        <li><a href="#">Jeunesse</a></li>
        <li><a href="#">Devoirs</a></li>
        <li><a href="#">Volontariat</a></li>
    </ul>
</div>
