{% extends "article/base.html.twig" %}

{% block url_back %}
    {{ urlBack }}
{% endblock %}

{% block name_back %}
    {{ nameBack|puriferHtml|raw }}
{% endblock %}

{% block content %}
    <p>{{ content|puriferHtml|raw }}</p>
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        jQuery( document )
            .ready( function() {
                jQuery( '#content' )
                    .lightGallery( {
                            'selector': '.img-lightGallery'
                        }
                    );
            } );
    </script>

{% endblock %}
