<div class="object-text-dyn col-md-8 px-0 px-md-15px col-lg-12 px-lg-0">
    <input type="checkbox" id="text-dyn"/>
    <div for="text-dyn">
        <span class="more">Lire plus</span>
        <span class="less">Réduire</span>
    </div>
    <div for="text-dyn">
        {% include 'fiche/_details.html.twig' %}
        {% include 'fiche/_horaires.html.twig' %}
        {% include 'fiche/_documents.html.twig' %}
        {% include 'fiche/_images.html.twig' %}
        {% include 'map/_carte.html.twig' %}
    </div>
</div>
