{% extends "article/show.html.twig" %}

{% block title %}
    Fiche non trouvée
{% endblock %}

{% block content %}
    <p>Contenu non trouvé</p>
     <a href="{{ url }}">
        <p>Consultez d'autres commerces</p>
    </a>
{% endblock %}
