<ul class="list-group">
    {% for campaing in campaings %}
        <li class="list-group-item">
            <a href="{{ campaing.archive_url }}" target="_blank">
                {{ campaing.title }}
            </a>
        </li>
    {% endfor %}
</ul>
