@charset "UTF-8";
/*@mixin boxShadow($dataFrom, $dataTo) {
	-webkit-box-shadow: $dataFrom, $dataTo !important;
	-moz-box-shadow: $dataFrom, $dataTo !important;
	-ms-box-shadow: $dataFrom, $dataTo !important;
	-o-box-shadow: $dataFrom, $dataTo !important;
	box-shadow: $dataFrom, $dataTo !important;
}*/
@keyframes pulsar {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*@keyframes echo-active {
	0% {
		@include boxShadow(0 0 0 rgba(255, 136, 27, 0), 0 0 0 rgba(255, 136, 27, 0));
	}
	25% {
		@include boxShadow(0 0 11px rgba(255, 136, 27, 1), 0 0 8px rgba(255, 136, 27, .5));
	}
	50% {
		@include boxShadow(0 0 22px rgba(255, 136, 27, .5), 0 0 11px rgba(255, 136, 27, .3));
	}
	100% {
		@include boxShadow(0 0 99px rgba(255, 136, 27, 0), 0 0 55px rgba(255, 136, 27, 0));
	}
}*/
@keyframes roll {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  10% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes roll-coordinated-reverse {
  0% {
    bottom: -2px;
    right: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  10% {
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg); }
  100% {
    bottom: -2px;
    right: 0;
    -webkit-transform: rotate(-1800deg);
    -moz-transform: rotate(-1800deg);
    -ms-transform: rotate(-1800deg);
    -o-transform: rotate(-1800deg);
    transform: rotate(-1800deg); } }

/* VARIABLES */
/*- ONLY FOR THIS PROJECT -*/
/*- END | ONLY FOR THIS PROJECT -*/
/*56pt / 84px*/
/*28pt / 37px*/
/*22pt / 30px*/
/*.75rem*/
/*.688rem*/
/* --------------------------- */
/* MIXINS */
/*@mixin highestBoxShadow() {
	@include boxShadow(0 19px 38px rgba($darkestGrey, $alpha30), 0 15px 12px rgba($darkestGrey, .22));
}

@mixin higherBoxShadow() {
	@include boxShadow(0 14px 28px rgba($darkestGrey, .25), 0 10px 10px rgba($darkestGrey, .22));
}
// (utliser pour les éléments qui ont un attribut de rotation)
@mixin higherBoxShadow-45() {
	@include boxShadow(14px 14px 28px rgba($darkestGrey, .25), 10px 10px 10px rgba($darkestGrey, .22));
}
@mixin higherBoxShadow-315() {
	@include boxShadow(-14px 14px 28px rgba($darkestGrey, .25), -10px 10px 10px rgba($darkestGrey, .22));
}*/
/*@mixin highBoxShadow() {
	@include boxShadow(0 1rem 3rem rgba(0, 0, 0, .175), 0 1rem 3rem rgba(0, 0, 0, .175));
}

@mixin basicBoxShadow() {
	@include boxShadow(0 .5rem 1rem rgba(0, 0, 0, .15), 0 .5rem 1rem rgba(0, 0, 0, .15));
}

@mixin lowestBoxShadow() {
	@include boxShadow(0 .125rem .25rem rgba(0, 0, 0, .075), 0 .125rem .25rem rgba(0, 0, 0, .075));
}
// (utliser pour les éléments qui ont un attribut de rotation)
@mixin lowestBoxShadow-45() {
	@include boxShadow(.125rem .125rem .25rem rgba(0, 0, 0, .075), .125rem .125rem .25rem rgba(0, 0, 0, .075));
}
@mixin lowestBoxShadow-315() {
	@include boxShadow(-.125rem .125rem .25rem rgba(0, 0, 0, .075), -.125rem .125rem .25rem rgba(0, 0, 0, .075));
}*/
/*@mixin lowestBoxShadow-inset() {
	@include boxInset(0 -1px 3px rgba($darkestGrey, .12), 0 -1px 2px rgba($darkestGrey, .24));
}

@mixin buttonInset() {
	@include boxInset(-12px 0 33px rgba($darkCTA, $alpha0));
}

@mixin buttonInsetHover() {
	@include boxInset(-12px 0 33px $darkCTA);
}*/
/* EXTENDS */
/* ACTIONS */
/* line 5, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
.actions {
  position: absolute;
  z-index: 10;
  font-size: 0; }
  /* line 10, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
  .actions > i {
    color: #4ae0c7;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out; }
    /* line 14, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
    .actions > i.fa-angle-up, .actions > i.fa-angle-down {
      font-size: 1.25rem;
      line-height: 1rem; }
  /* line 21, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
  .actions .icon,
  .actions .text {
    margin: 0 6px 0 0;
    font-size: 0; }
    /* line 26, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
    .actions .icon:last-child,
    .actions .text:last-child {
      margin: 0; }
  /* line 31, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
  .actions .text {
    display: inline-block;
    height: 28px;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
    background-color: white;
    border-radius: 4px;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    -ms-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    -o-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    /*&.active {
			background-color: $lightActive;

			span {
				color: $white;
				@include boxInset(-55px 0 88px $active);
			}

			&:hover {
				background-color: $lightActive;

				span {
					@include boxInset(-55px 0 88px $active);
				}
			}
		}*/
    /*&:hover {
			background-color: $lightCTA;
			@include higherBoxShadow();
			@include allTransition($basicDuration);

			span {
				color: $white;
				@include boxInset(-55px 0 88px $darkCTA);
				@include allTransition($basicDuration);
			}
		}*/ }
    /* line 42, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
    .actions .text span {
      display: block;
      padding: 7px 11px;
      color: #4ae0c7;
      -webkit-box-shadow: -55px 0 88px rgba(72, 127, 137, 0) inset !important;
      -moz-box-shadow: -55px 0 88px rgba(72, 127, 137, 0) inset !important;
      -ms-box-shadow: -55px 0 88px rgba(72, 127, 137, 0) inset !important;
      -o-box-shadow: -55px 0 88px rgba(72, 127, 137, 0) inset !important;
      box-shadow: -55px 0 88px rgba(72, 127, 137, 0) inset !important;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }

/* -------------- */
/* line 87, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
.cardBoard .title .actions {
  top: 11px;
  right: 22px; }
  /* line 91, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
  .cardBoard .title .actions > * {
    margin: 0 11px 0 0;
    vertical-align: top; }
    /* line 95, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
    .cardBoard .title .actions > *:last-child {
      margin: 0; }
  /* line 100, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
  .cardBoard .title .actions .icon,
  .cardBoard .title .actions .text {
    height: 28px;
    margin-top: 3px; }

/* line 113, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
.boardContainer .defaultCard .actions {
  top: -4px;
  right: 0; }

/* line 118, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
.boardContainer .defaultCard .subCard {
  /*&.presentation {
				.actions {
					.icon,
					.text {
						border: none;
						@include lowestBoxShadow();

						&:hover {
							@include higherBoxShadow();
						}
					}
				}
			}*/ }
  /* line 119, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
  .boardContainer .defaultCard .subCard .actions {
    top: 11px;
    right: 11px; }
    /* line 123, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
    .boardContainer .defaultCard .subCard .actions .icon,
    .boardContainer .defaultCard .subCard .actions .text {
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      -ms-box-shadow: none !important;
      -o-box-shadow: none !important;
      box-shadow: none !important;
      border-width: 1px;
      border-style: solid;
      border-color: rgba(5, 0, 50, 0.1); }
      /* line 128, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
      .boardContainer .defaultCard .subCard .actions .icon:hover,
      .boardContainer .defaultCard .subCard .actions .text:hover {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        -ms-box-shadow: none !important;
        -o-box-shadow: none !important;
        box-shadow: none !important; }
  /* line 150, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
  .boardContainer .defaultCard .subCard:hover .actions > i {
    color: #487f89;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out; }

/* line 163, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
.defaultCard .actions {
  top: 6px;
  right: 11px; }

/* line 173, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
.catLine .withActions .actions {
  top: 5px;
  right: -11px; }

/* line 183, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
#monParcours > .actions {
  top: 22px;
  right: 22px; }

/* line 194, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
.videoMeetingDetail .popupContainer .popupContent .actions {
  bottom: 11px;
  right: 26px; }
  /* line 198, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
  .videoMeetingDetail .popupContainer .popupContent .actions > * {
    opacity: 0.3; }
    /* line 201, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
    .videoMeetingDetail .popupContainer .popupContent .actions > *:hover {
      opacity: 1; }

/* line 208, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
.videoMeetingDetail .popupContainer .popupContent .benefView .actions {
  right: 33px; }

/* line 222, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
.dataList ul li div .actions {
  display: block;
  width: 28px;
  height: max-content;
  margin: auto 0 auto 11px;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0; }
  /* line 233, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
  .dataList ul li div .actions a {
    margin: 0 0 6px; }
    /* line 236, /Users/tibyvoesters/Google Drive/Studio Tartine/projects/commune_marche/site/integration/css/objects/actions.scss */
    .dataList ul li div .actions a i {
      width: 28px;
      height: 28px;
      margin: 0;
      padding: 6px 0;
      border: none;
      border-radius: 0; }

/*# sourceMappingURL=actions.css.map */