<!--CONTENT-->
<section id="content" class="pt-42px pl-ls-42px overflow-ls-hidden overflow-md-hidden pl-ls-lg-0 pt-xl-66px">
    <!--title-->
    <div class="bg-white pt-24px px-24px text-center position-relative d-ls-md-flex mx-ls-md-n15px d-md-flex mx-md-n15px px-xl-48px mx-xl-n30px justify-content-md-center">
        <i class="curve-svg-home"></i>
        <!--news-->
        <div class="px-0 col-md-8 d-md-flex flex-md-column px-md-15px col-ls-md-8 d-ls-md-flex flex-ls-md-column px-xl-30px mw-896px">
            <h2 class="text-ls-md-left pt-ls-md-8px text-md-left pt-md-8px">Actualités</h2>
            <ul class="pt-24px pt-ls-md-32px pt-md-32px d-ls-lg-flex flex-ls-lg-wrap mx-ls-lg-n4px d-lg-flex flex-lg-wrap mx-lg-n4px">
                <!--always visible-->
                {% include 'homepage/news/_always.html.twig' %}
                <!--visible from landscape&&large-->
                {% include 'homepage/news/_landscape_large.html.twig' %}
            </ul>
            <a href="/sport/quoi-de-neuf"
               class="button lvl3 mt-12px align-self-ls-md-end align-self-md-end position-relative left-0 left-hover-12px">Plus
                d'actualités<i class="fas fa-angle-right d-none d-ls-md-inline pl-12px fs-basic d-md-inline"></i></a>
        </div>
        <!--events-->
        {% include 'sport/agenda/index.html.twig' %}
    </div>

</section>
