<!--CONTENT-->
<section id="content" class="pt-42px pl-ls-42px overflow-ls-hidden overflow-md-hidden pl-ls-lg-0 pt-xl-66px">
    <div class="bg-white pt-24px px-24px text-center position-relative d-ls-md-flex mx-ls-md-n15px d-md-flex mx-md-n15px px-xl-48px mx-xl-n30px justify-content-md-center">
        <i class="curve-svg-home"></i>

        <!--news-->
        {% include 'homepage/news/index.html.twig' %}

        <!--events-->
        {% include 'homepage/agenda/index.html.twig' %}
    </div>

</section>
